---

- name: check for ui backup dir
  stat:
    path: "{{ fworch_home }}/backup_ui/ui"
  register: ui_backup_dir

- name: recover backup
  synchronize:
    src: "{{ fworch_home }}/backup_ui/ui"
    dest: "{{ fworch_home }}"
  delegate_to: "{{ inventory_hostname }}"
  listen: "ui handler"
  when: ui_backup_dir.stat.exists and ui_handler_guard == "start"
  become: yes

- name: delete backup
  file:
    state: absent
    path: "{{ fworch_home }}/backup_ui"
  listen: "ui handler"
  become: yes
  when: ui_backup_dir.stat.exists
  
- name: fail message
  debug:
    msg:
    - "An error occured during the upgrade of role {{ role_name }}"
    - "Please restart the server {{ inventory_hostname }}"
    - "Try to upgrade {{ product_name }} later or contact the support support@cactus.de"
  listen: "ui handler"
  when: ui_handler_guard == "start"
