.dropzone-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.appserver-right-scrollable {
    height: calc(100vh - 731px);
    overflow-y: auto;
}

.appserver-right-scrollable-networkarea {
    height: calc(100vh - 770px);
    overflow-y: auto;
}