.dropzone-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.appserver-right-scrollable {
    height: calc(100vh - 715px);
    overflow-y: auto;
}

.appserver-right-scrollable-networkarea {
    height: calc(100vh - 756px);
    overflow-y: auto;
}