.communication-matrix {
    overflow: auto;
    border-collapse: collapse;
}

.communication-matrix th,
.communication-matrix td {
    border: 1px solid #000;
}

.zone-header {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 250px;
    height: 25px;
}

.zone-header-rotated {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25px;
    max-height: 250px;
}

.zone-name {
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.direction-info {
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-rotated {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.communication-cell {
    cursor: pointer;
    padding: 0px;
    width: 30px;
    height: 30px;
}

.communication-cell-button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.allowed {
    background-color: green;
}

.disallowed {
    background-color: red;
}

.allowed-in-edit {
    background-color: lightgreen;
}

.disallowed-in-edit {
    background-color: lightcoral;
}

