dn: uid=fgreporter,ou=forti,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: fgreporter
sn: fgreporter
userpassword: {{ auth_ldap_user_inital_pwd }}

dn: uid=checkreporter,ou=check,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: checkreporter
sn: checkreporter
userpassword: {{ auth_ldap_user_inital_pwd }}

dn: uid=viewallreporter,ou=viewall,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: viewallreporter
sn: viewallreporter
userpassword: {{ auth_ldap_user_inital_pwd }}