dn: uid=fgreporter,ou=forti,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: fgreporter
sn: fgreporter

dn: uid=checkreporter,ou=check,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: checkreporter
sn: checkreporter

dn: uid=viewallreporter,ou=viewall,{{ auth_ldap_std_user_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: viewallreporter
sn: viewallreporter
