
dn: cn=reporter,ou=role,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user2{{ sample_postfix }},ou=tenant2{{ sample_postfix }},ou=operator,ou=user,dc=fworch,dc=internal


dn: cn=reporter,ou=role,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1{{ sample_postfix }},ou=tenant1{{ sample_postfix }},ou=operator,ou=user,{{ openldap_path }}


dn: cn=recertifier,ou=role,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=ownergroup_F{{ sample_postfix }},ou=group,{{ openldap_path }}


dn: cn=recertifier,ou=role,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=ownergroup_D{{ sample_postfix }},ou=group,{{ openldap_path }}
