
dn: cn=group1_{{ sample_postfix }},ou=group,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_{{ sample_postfix }},ou=tenant1_{{ sample_postfix }},ou=operator,ou=user,dc=fworch,dc=internal


dn: cn=group1_{{ sample_postfix }},ou=group,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user2_{{ sample_postfix }},ou=tenant1_{{ sample_postfix }},ou=operator,ou=user,dc=fworch,dc=internal


dn: cn=group2_{{ sample_postfix }},ou=group,{{ openldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_{{ sample_postfix }},ou=tenant2_{{ sample_postfix }},ou=operator,ou=user,dc=fworch,dc=internal
