
dn: cn=reporter,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user2_demo,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=workflow-user,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user2_demo,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=auditor,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_demo,ou=tenant2,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=reporter,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_demo,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=reporter-viewall,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_demo,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=importer,ou=role,{{ middleware_ldap_path }}
changetype: modify
add: uniquemember
uniquemember: uid=user1_demo,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal
