dn: ou=tenant1_{{ sample_postfix }},ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: organizationalUnit
ou: tenant1_{{ sample_postfix }}
{%- endif %}


dn: ou=tenant2_{{ sample_postfix }},ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: organizationalUnit
ou: tenant2_{{ sample_postfix }}
{%- endif %}
