
# These are test users with plain text passwords

dn: uid=user1_demo,ou=tenant1,ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: user1_demo
givenName: user1_demo
sn: Gelb
userPassword: cactus1
{%- endif %}


dn: uid=user2_demo,ou=tenant1,ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: user2_demo
givenName: user2_demo
sn: Gelb
userPassword: cactus1
{%- endif %}


dn: uid=user1_demo,ou=tenant2,ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: user1_demo
givenName: user1_demo
sn: Gelb
userPassword: cactus2
{%- endif %}


dn: uid=user2_demo,ou=tenant2,ou=operator,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: user2_demo
givenName: user2_demo
sn: Rot
userPassword: cactus2
{%- endif %}
