# ---------------------------------------------------------------------------
# Global configuration (only optional tunables)
# ---------------------------------------------------------------------------

dn: cn=config
changetype: modify
replace: olcLogLevel
olcLogLevel: {{ openldap_loglevel | default('stats') }}

{% if openldap_enable_tls | default(false) %}
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ openldap_server_cert }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ openldap_server_private_key }}
{% endif %}



# ---------------------------------------------------------------------------
# Load optional modules (memberof / refint)
# ---------------------------------------------------------------------------

{% if openldap_enable_memberof | default(true) or openldap_enable_refint | default(true) %}
dn: cn=module{0},cn=config
changetype: modify

{% if openldap_enable_memberof | default(true) %}
add: olcModuleLoad
olcModuleLoad: memberof.la
{% endif %}

{% if openldap_enable_refint | default(true) %}
-
add: olcModuleLoad
olcModuleLoad: refint.la
{% endif %}
{% endif %}



# ---------------------------------------------------------------------------
# Configure MDB database (assumes database already exists)
# ---------------------------------------------------------------------------

dn: olcDatabase=mdb,cn=config
changetype: modify

{% if openldap_suffix is defined %}
replace: olcSuffix
olcSuffix: {{ openldap_suffix }}
{% endif %}

{% if openldap_rootdn is defined %}
-
replace: olcRootDN
olcRootDN: {{ openldap_rootdn }}
{% endif %}

{% if openldap_rootpw_hash is defined %}
-
replace: olcRootPW
olcRootPW: {{ openldap_rootpw_hash }}
{% endif %}

{% if openldap_db_directory is defined %}
-
replace: olcDbDirectory
olcDbDirectory: {{ openldap_db_directory }}
{% endif %}



# ---------------------------------------------------------------------------
# Indexes (safe for re-application)
# ---------------------------------------------------------------------------

{% if openldap_configure_indexes | default(true) %}
dn: olcDatabase=mdb,cn=config
changetype: modify
replace: olcDbIndex
olcDbIndex: objectClass pres,eq
olcDbIndex: ou,cn,mail,sn,givenName pres,eq,sub
olcDbIndex: uidNumber,gidNumber,loginShell pres,eq
olcDbIndex: uid,memberUid pres,eq,sub
olcDbIndex: nisMapName,nisMapEntry pres,eq,sub
{% endif %}



# ---------------------------------------------------------------------------
# ACLs
# ---------------------------------------------------------------------------

{% if openldap_configure_acls | default(true) %}
dn: olcDatabase=mdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: to attrs=userPassword
    by self write
    by anonymous auth
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by dn.base="{{ openldap_writer_dn }}" write
    by * none
olcAccess: to attrs=shadowLastChange
    by self write
    by * read
olcAccess: to dn.children="{{ openldap_std_role_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to dn.subtree="{{ openldap_std_group_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to dn.subtree="{{ openldap_std_user_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to *
    by self write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by dn.base="{{ openldap_writer_dn }}" read
    by * none
{% endif %}



# ---------------------------------------------------------------------------
# memberOf overlay
# ---------------------------------------------------------------------------

{% if openldap_enable_memberof | default(true) %}
dn: olcOverlay=memberof,olcDatabase=mdb,cn=config
objectClass: olcMemberOf
objectClass: olcOverlayConfig
objectClass: olcConfig
objectClass: top
olcOverlay: memberof
olcMemberOfDangling: ignore
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfUniqueNames
olcMemberOfMemberAD: uniqueMember
olcMemberOfMemberOfAD: memberOf
{% endif %}



# ---------------------------------------------------------------------------
# Referential integrity overlay
# ---------------------------------------------------------------------------

{% if openldap_enable_refint | default(true) %}
dn: olcOverlay=refint,olcDatabase=mdb,cn=config
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
objectClass: top
olcOverlay: refint
olcRefintAttribute: memberOf
olcRefintAttribute: uniqueMember
{% endif %}
