[Service]
ExecStartPre=/bin/mkdir -p /run/slapd
ExecStartPre=/bin/chown openldap:openldap /run/slapd
ExecStart=
Type=forking
PIDFile=/run/slapd/slapd.pid
ExecStart=/usr/sbin/slapd -F {{ openldap_server_app_path }}/slapd.d -u {{ openldap_server_user }} -g {{ openldap_server_user }} -h "ldap://{{ openldap_server }} ldaps:///"
