[Service]
EnvironmentFile=-/etc/default/slapd
RuntimeDirectory=slapd
RuntimeDirectoryMode=0755
ExecStartPre=/bin/chown {{ openldap_server_user }}:{{ openldap_server_user }} /run/slapd
ExecStart=
ExecStart=/usr/sbin/slapd -u {{ openldap_server_user }} -g {{ openldap_server_user }} -h "${SLAPD_SERVICES}"
