[Service]
ExecStartPre=/bin/mkdir -p /run/slapd
ExecStartPre=/bin/chown openldap:openldap /run/slapd
ExecStart=
ExecStart=/usr/sbin/slapd -u {{ openldap_server_user }} -g {{ openldap_server_user }} -h "ldap://{{ openldap_server }} ldaps:///"
