[Unit]
Description={{ product_name }} Blazor UI
{% if 'apiserver' in group_names and 'middlewareserver' in group_names -%}
After=network.target remote-fs.target nss-lookup.target {{ api_service_name }}.service {{ middleware_service_name }}.service
{% elif 'apiserver' in group_names -%}
After=network.target remote-fs.target nss-lookup.target {{ api_service_name }}.service
{% elif 'middlewareserver' in group_names -%}
After=network.target remote-fs.target nss-lookup.target {{ middleware_service_name }}.service
{% else -%}
After=network.target remote-fs.target nss-lookup.target
{%- endif %}
[Service]
WorkingDirectory={{ ui_start_dir }}/bin/{{ dotnet_mode }}/net{{ dotnet_version }}
# adding an extra 3 secs for docker api to come up?
ExecStartPre=/bin/sleep 3
ExecStart={{ ui_start_dir }}/bin/{{ dotnet_mode }}/net{{ dotnet_version }}/FWO.Ui
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier={{ ui_syslog_id }}
User={{ fworch_user }}
Environment=
[Install]
WantedBy=multi-user.target
