<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized Context="permissionDeniedAuthState">
                            <div class="row m-4 justify-content-center">
                                <h2>Sorry @(permissionDeniedAuthState?.User?.Identity?.Name), this page cannot be accessed with your permissions.</h2>
                            </div>
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Authorized>
                <NotAuthorized>
                    <Login></Login>
                </NotAuthorized>
            </AuthorizeView>
        </Found>
        <NotFound>
            <div class="row m-4 justify-content-center">
                <h2>Sorry, there's nothing at this address.</h2>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>