*.php linguist-detectable=false
*.md linguist-detectable=false
*.yml linguist-detectable=false
*.yaml linguist-detectable=false
*.pm linguist-detectable=false
*.pl linguist-detectable=false
*.pl linguist-detectable=false
roles/* linguist-detectable=false
