#### ignore file endings like ####
#*.php linguist-detectable=false
#*.md linguist-detectable=false
#*.yml linguist-detectable=false
#*.yaml linguist-detectable=false
#*.pm linguist-detectable=false
#*.pl linguist-detectable=false
##################################

######## reclassification ########
*.razor linguist-language=csharp
*c linguist-language=csharp
##################################

################### ignore paths like #######################
#roles/* linguist-detectable=false
#roles/openldap-server/* linguist-detectable=false
#roles/upgrade-completion/tasks/* linguist-detectable=false
#############################################################

####################### paths to ignore #####################
roles/sample-auth-data/* -linguist-detectable
roles/sample-data-connect-sting/* -linguist-detectable
roles/sample-data/* -linguist-detectable
roles/test/* -linguist-detectable
#############################################################
