# ansible.cfg
[defaults]
inventory = inventory
local_tmp = ~/.fworch/tmp/ansible-local
remote_tmp = ~/.fworch/tmp/ansible-remote
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
force_handlers = True
result_format = yaml

ansible_conditional_bare_vars=false

fact_caching_connection = ~/.fworch/tmp/ansible_fact_cache
fact_caching = jsonfile

# expire the fact cache after 2 hours
fact_caching_timeout = 7200
pipelining = True
