# ansible.cfg
[defaults]
inventory = inventory
#timeout = 60
force_handlers = True
stdout_callback = yaml

gathering = smart
gather_subset = !hardware,!facter,!ohai

fact_caching_connection = /tmp/ansible_fact_cache
fact_caching = jsonfile

# expire the fact cache after 2 hours
fact_caching_timeout = 7200
pipelining = True
