#! /bin/bash
docker run -d --net=host -p {{ api_hostname }}:{{ api_port }}:{{ api_port }} \
       -e HASURA_GRAPHQL_DATABASE_URL=postgres://{{ api_user }}:{{ api_user_password }}@{{ fworch_db_host }}:{{ fworch_db_port }}/{{ fworch_db_name }} \
       -e HASURA_GRAPHQL_ENABLE_CONSOLE=true \
       -e HASURA_GRAPHQL_ADMIN_SECRET={{ api_hasura_admin_secret }} \
       -e HASURA_GRAPHQL_JWT_SECRET='{"type": "{{ api_hasura_jwt_alg }}", "key": "{{ api_hasura_jwt_secret }}", "claims_namespace_path": "$.hasura.claims"}' \
       -e HTTP_PROXY="{{ http_proxy }}" \
       -e HTTPS_PROXY="{{ https_proxy }}" \
       hasura/graphql-engine:{{ api_hasura_version }}