<VirtualHost *:{{ api_web_port }}>
	ServerName {{ api_server_name }}:{{ api_web_port }}
	ServerAdmin {{ server_admin }}
#	DocumentRoot stays empty, only proxying
	timeout {{ apache_fwo_api_timeout }}

    ProxyRequests On
    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

	# terminate https incoming calls and proxy to http
	ProxyPass /api http://{{ api_ip_address }}:{{ api_port }}/
	# websocket protocol is needed for subscriptions
	RewriteEngine on
	RewriteCond %{HTTP:Upgrade} websocket [NC]
	RewriteCond %{HTTP:Connection} upgrade [NC]
	RewriteRule ^/?(.*) "ws://{{ api_ip_address }}:{{ api_port }}/v1/graphql" [P,L]

	ErrorLog /var/log/{{ webserver_package_name }}/error.log
	TransferLog /var/log/{{ webserver_package_name }}/access.log
	CustomLog /var/log/{{ webserver_package_name }}/ssl_request_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
	SSLEngine on
	SSLCipherSuite RSA:!EXP:!NULL:+HIGH:+MEDIUM:-LOW 
	SSLCertificateFile /etc/{{ webserver_package_name }}/ssl/server.crt
	SSLCertificateKeyFile /etc/{{ webserver_package_name }}/ssl/server.key
</VirtualHost>
