# this playbook sets up the api
- name: initialize handler for datarecovery
  set_fact:
    api_handler_guard: start
  changed_when: true
  notify:
  - api handler
  when: installation_mode == "upgrade"

- name: backup api dir
  synchronize:
    src: "{{ fworch_home }}/api"
    dest: "{{ fworch_home }}/backup_api"
  delegate_to: "{{ inventory_hostname }}"
  when: installation_mode == "upgrade"
  become: yes
  
- name: remove api home
  file:
    path: "{{ api_home }}"
    state: absent
  become: yes

- name: create api home
  file:
    path: "{{ api_home }}"
    state: directory
    mode: "0755"
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
  become: yes

- name: install apache2
  import_tasks: api-apache-install-and-setup.yml

- name: hasura install 
  import_tasks: hasura-install.yml

- name: include upgrade script
  import_tasks: run-upgrades.yml
  when: "installation_mode == 'upgrade'"

- name: copy fworch config export and import scripts
  copy:
    src: scripts
    dest: "{{ fworch_home }}"
    mode: "0755"
    owner: "{{ fworch_user}}"
    group: "{{ fworch_user}}"
  become: yes

- name: api create documentation
  import_tasks: api-create-docu.yml
  when: api_docu | bool

- name: finalize handler for datarecovery
  set_fact:
    api_handler_guard: stop
  changed_when: true
  notify: "api handler"
  when: installation_mode == "upgrade"
      
# - name: remove api home
#   file:
#     path: "{{ api_home }}"
#     state: absent
#   become: yes
