[Unit]
Description=FWOrch Middleware Server
Wants=network-online.target
# keep retrying while api or ldap are still coming up instead of failing permanently
StartLimitIntervalSec=0
{% if 'apiserver' in group_names -%}
After=network-online.target remote-fs.target nss-lookup.target {{ api_service_name }}.service slapd.service
{% else -%}
After=network-online.target remote-fs.target nss-lookup.target slapd.service
{%- endif %}
[Service]
WorkingDirectory={{ middleware_server_start_dir }}
ExecStartPre=/bin/sleep 10
ExecStart={{ middleware_server_start_dir }}/bin/{{ dotnet_mode }}/net{{ dotnet_version }}/FWO.Middleware.Server
Restart=on-failure
RestartSec={{ fworch_systemd_restart_sec }}
SyslogIdentifier={{ middleware_server_syslog_id }}
User={{ fworch_user }}
Environment="PYTHONPATH={{ fworch_home }}"
[Install]
WantedBy=multi-user.target
