@using FWO.Ui.Display
@using FWO.Config.Api
@using FWO.Report
@using FWO.Report.Filter
@using FWO.Data.Modelling


@inject UserConfig userConfig

@if(OwnerData.Count > 0)
{
    <h5>@(userConfig.GetText("recertification"))</h5>
    <OwnerRecertTable Owners="owners" />

    @if(Managements.Count > 0)
    {
        <br>
        <h5>@(userConfig.GetText("rules"))</h5>
        <div class="ml-13">
            <RulesReport Managements="Managements" SelectedReportType="ReportType.Rules" RulesPerPage="RulesPerPage" @bind-SelectedRules="SelectedRules" />
        </div>
    }
}

@code
{
    [Parameter]
    public List<OwnerConnectionReport> OwnerData { get; set; } = [];

    [Parameter]
    public List<ManagementReport> Managements { get; set; } = [];

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public EventCallback<List<Rule>> SelectedRulesChanged { get; set; }

    [Parameter]
    public List<Rule> SelectedRules { get; set; } = [];


    private List<FwoOwner> owners = [];


    protected override void OnParametersSet()
    {
        owners = [.. OwnerData.Select(o => o.Owner)];
    }
}
