[Unit]
Description={{ product_name }} importer pure python
Wants=network-online.target
# keep retrying while api or middleware are still coming up instead of failing permanently
StartLimitIntervalSec=0

{% if 'apiserver' in group_names and 'middlewareserver' in group_names -%}
After=network-online.target remote-fs.target nss-lookup.target {{ webserver_package_name }}.service {{ api_service_name }}.service {{ middleware_service_name }}.service
{% elif 'apiserver' in group_names -%}
After=network-online.target remote-fs.target nss-lookup.target {{ webserver_package_name }}.service {{ api_service_name }}.service
{% elif 'middlewareserver' in group_names -%}
After=network-online.target remote-fs.target nss-lookup.target {{ webserver_package_name }}.service {{ middleware_service_name }}.service
{% else -%}
After=network-online.target remote-fs.target nss-lookup.target {{ webserver_package_name }}.service
{%- endif %}

[Service]
Type=simple
WorkingDirectory={{ importer_home }}
ExecStartPre=/bin/sleep 10
ExecStart={{ importer_venv_dir }}/bin/python {{ importer_home}}/import_main_loop.py
Environment="PATH={{ importer_venv_dir }}/bin:/usr/bin:/bin"
Environment="VIRTUAL_ENV={{ importer_venv_dir }}"
TimeoutStopSec=300min
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ product_name }}-importer-api
User={{ fworch_user }}
KillSignal=SIGINT
Group={{ fworch_group }}
Restart=always
RestartSec={{ fworch_systemd_restart_sec }}

[Install]
WantedBy=multi-user.target
