[Unit]
Description={{ product_name }} importer
After=network.target remote-fs.target nss-lookup.target postgresql.service

[Service]
WorkingDirectory={{ importer_home }}
ExecStartPre=/bin/sleep 10
ExecStart={{ importer_home }}/fworch-importer-main.pl
ExecStop={{ importer_home }}/import-stop-helper
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ product_name }}-importer
User={{ fworch_user }}
Environment="PERL5LIB={{ importer_home }}"

[Install]
WantedBy=multi-user.target
