
INSERT INTO {{ collection_table }} (collection_name, collection_defn, comment, is_system_defined) VALUES ('basicQueries', '
    {
    "type" : "create_query_collection",
    "args": {
        "name": "basicCollection",
        "definition": {
            "queries": [
                {
                    "name": "getImportId",
                    "query": "query getImportId($management_id: Int!, $time: timestamp!) {
                        import_control_aggregate(where: {mgm_id: {_eq:$management_id},stop_time: {_lte:$time } }) { aggregate { max { control_id } } } }"
                },
                {
                    "name": "showManufacturers",
                    "query": "query showManufacturers {
                        stm_dev_typ {
                            dev_typ_id
                            dev_typ_manufacturer
                            dev_typ_version
                        }
                    }"
                },
                {
                    "name": "showManagements",
                    "query": "
                        query showManagements {
                            management {
                                mgm_id
                                mgm_name
                            }
                        }"
                },
                {
                    "name": "showManagementDetails",
                    "query": "query showManagementDetails {
                        management {
                            dev_typ_id
                            hide_in_gui
                            do_not_import
                            force_initial_import
                            importer_hostname
                            last_import_md5_complete_config
                            last_import_md5_objects
                            last_import_md5_rules
                            last_import_md5_users
                            config_path
                            mgm_comment
                            mgm_create
                            mgm_id
                            mgm_name
                            mgm_update
                            ssh_hostname
                            ssh_port
                            ssh_private_key
                            ssh_public_key
                            ssh_user
                        }
                    }"
                },
                {
                    "name": "showManagementsWithDevices",
                    "query": "query showManagementsWithDevices {
                        management {
                            mgm_name
                            devices {
                            dev_name
                            }
                        }
                    }"
                },
                {
                    "name": "showManagementsWithDevicesDetails",
                    "query": "query showManagementsWithDevicesDetails {
                        management {
                            mgm_name
                            devices {
                            dev_name
                            stm_dev_typ {
                                dev_typ_name
                                dev_typ_version
                            }
                            }
                        }
                    }"
                },
                {
                    "name": "showDevices",
                    "query": "query showDevices {
                        device {
                            dev_id
                            dev_name
                            dev_rulebase
                            management {
                            mgm_id
                            mgm_name
                            }
                        }
                    }"
                },
                {
                    "name": "showDevicesWithType",
                    "query": "query showDevicesWithType {
                        device {
                            dev_id
                            dev_name
                            stm_dev_typ {
                            dev_typ_name
                            dev_typ_version
                            }
                        }
                    }"
                }
            ]
        }
    }
    }
', 'base queries to be used in other collections', FALSE);

INSERT INTO {{ allow_table }} (collection_name) VALUES ('basicQueries');



