@inject UserConfig userConfig

<div class="col-sm-6">
    <EditList ElementType="CommonArea" Elements="CommonAreas.ToArray()" ElementsToDelete="CommAreasToDelete" StdLayout="false">
        <Display>
            <div class="row align-items-center">
                <div class="col-sm-4 border bg-transparent">@((MarkupString)context.Area.Content.DisplayHtml())</div>
                <div class="col-sm-4">
                    <div class="row align-items-center">
                        <div class="col-form-label col-sm-8" @onclick="() => context.UseInSrc = !context.UseInSrc">@(userConfig.GetText("use_in_src")):</div>
                        <div class="col-sm-3">
                            <input id="cbx_use_in_src" type="checkbox" class="w-100" @bind="context.UseInSrc">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row align-items-center">
                        <div class="col-form-label col-sm-8" @onclick="() => context.UseInDst = !context.UseInDst">@(userConfig.GetText("use_in_dst")):</div>
                        <div class="col-sm-3">
                            <input id="cbx_use_in_dst" type="checkbox" class="w-100" @bind="context.UseInDst">
                        </div>
                    </div>
                </div>
            </div>
        </Display>
    </EditList>
    <div class="row col-sm-12 mt-1">
        <button type="button" class="col-sm-2 btn btn-sm btn-primary" @onclick="() => SearchCommonArea()" @onclick:preventDefault>
            @(DisplayService.DisplayButton(userConfig, "add", Icons.Add))
        </button>
    </div>
</div>

@code
{
    [Parameter]
    public List<CommonArea> CommonAreas { get; set; } = [];

    [Parameter]
    public List<CommonArea> CommAreasToDelete { get; set; } = [];

    [Parameter]
    public Func<bool> SearchCommonArea { get; set; } = DefaultInit.DoNothingSync;
}
