@using FWO.ApiClient
@using FWO.Config.Api
@using FWO.Ui.Services

@page "/settings/recertification"
@attribute [Authorize(Roles = "admin, recertifier, auditor")]

@inject APIConnection apiConnection
@inject UserConfig userConfig

<h3>@(userConfig.GetText("recert_settings"))</h3>
@(userConfig.GetText("U5414"))
<hr />

<form class="form-inline" onsubmit="return false">
    <label for="recertificationDisplayPeriod" class="col-form-label mr-2">@(userConfig.GetText("recertificationDisplayPeriod")):</label>
    <div class="col-sm-2">
        <input id="recertificationDisplayPeriod" type="number" class="form-control form-control-sm" @bind="recertificationDisplayPeriod" />
    </div>
</form>
<hr />
<button class="btn btn-sm btn-primary" @onclick="SaveRecertificationDisplayPeriod">@(userConfig.GetText("save"))</button>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    ConfigDbAccess? config;
    int recertificationDisplayPeriod = GlobalConfig.kDefaultInitRecertificationDisplayPeriod;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationStateTask!;
        try
        {
            config = await ConfigDbAccess.ConstructAsync(apiConnection, userConfig);
            string settingsValue = config.Get<string>(GlobalConfig.kRecertificationDisplayPeriod);
            if (settingsValue != "")
            {
                recertificationDisplayPeriod = Int32.Parse(settingsValue);
            }
            else
            {
                // get default value
                ConfigDbAccess defaultConfig = await ConfigDbAccess.ConstructAsync(apiConnection);
                settingsValue = defaultConfig.Get<string>(GlobalConfig.kRecertificationDisplayPeriod);
                if (settingsValue != "")
                {
                    recertificationDisplayPeriod = Int32.Parse(settingsValue);
                }
            }
        }
        catch (KeyNotFoundException) { }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("recert_settings"), userConfig.GetText("E5421") + recertificationDisplayPeriod.ToString(), false);
        }
    }

    private async Task SaveRecertificationDisplayPeriod()
    {
        string recertificationDisplayPeriodString = recertificationDisplayPeriod.ToString();
        try
        {
            await userConfig.ChangeConfigValue(GlobalConfig.kRecertificationDisplayPeriod, recertificationDisplayPeriodString, apiConnection);
            DisplayMessageInUi!(null, userConfig.GetText("recert_settings"), userConfig.GetText("U5301"), false);
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("recert_settings"), "", true);
        }
    }
}
