@using FWO.Config.Api

@page "/settings"

@inject UserConfig userConfig

<div class="input-group">
    <h3>@(userConfig.GetText("settings"))</h3>
    <HelpLink Page="settings"/>
</div>
@(userConfig.GetText("U5001"))
<hr />

