---
- block:
  - name: initialize handler for datarecovery
    set_fact:
      middleware_handler_guard: start
    changed_when: true
    notify:
    - middleware handler
    when: installation_mode == "upgrade"

  - name: check for middleware dir
    stat:
      path: "{{ fworch_home }}/middleware"
    register: middleware_dir_check

  - name: backup middleware dir
    synchronize:
      src: "{{ fworch_home }}/middleware"
      dest: "{{ fworch_home }}/backup_middleware"
    delegate_to: "{{ inventory_hostname }}"
    when: middleware_dir_check.stat.exists and installation_mode == "upgrade"

  - name: remove middleware dir
    file:
      state: absent
      path: "{{ fworch_home }}/middleware"
    when: installation_mode == "upgrade"

  - name: create middleware directory
    file:
      dest: "{{ middleware_server_base_dir }}"
      state: directory
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"

  - name: copy middleware module files to middlewareserver
    copy:
      src: "{{ middleware_path_rel }}"
      dest: "{{ middleware_server_base_dir }}"
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"

  - name: install python3-openssl for openssl key generation and unprivileged user
    package:
      name: "{{ item }}"
      state: present
    loop:
      - python3-cryptography
      - python3-openssl

  - name: install libs needed for pdf creator nuget packet HakanL/WkHtmlToPdf-DotNet
    package:
      name: "{{ item }}"
      state: present
    loop:
      - libgdiplus
      - libc6-dev
      - libjpeg62
      - xfonts-75dpi
      - libssl1.1
  
  become: yes

- name: create auth secrets (jwt key, ldap)
  include_tasks: create_auth_secrets.yml

- name: import ldif driven changes
  import_tasks: set_initial_ldap_tree.yml
  when: installation_mode == "new"

- name: install python modules for ansible ldap module via package
  package:
    name:
      - python3-pip
      - libsasl2-dev
      - python3-dev
      - libldap2-dev
      - libssl-dev
      - python3-setuptools
      - python3-pyldap
  become: yes

- name: make sure {{ fworch_secrets_dir }} exists
  file:
    path: "{{ fworch_secrets_dir }}"
    state: directory
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
    mode: "0700"
  become: yes

- name: set UI admin password for testing
  set_fact:
    admin_password: "{{ ui_admin_testonly_password }}"
  when: testkeys is defined and testkeys|bool

- name: set UI admin password randomly
  set_fact:
    admin_password: "{{ randomly_generated_pwd }}"
  when: (testkeys is not defined or not testkeys|bool) and installation_mode == 'new'

- name: write ui admin_password to secrets directory
  copy:
    content: "{{ admin_password }}\n"
    dest: "{{ ui_admin_password_file }}"
    mode: '0600'
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
  become: yes
  when: installation_mode == 'new'

- name: Set admin password in ldap
  ldap_passwd:
    dn: uid=admin,ou=tenant0,ou=operator,ou=user,{{ openldap_path }}
    passwd: "{{ admin_password }}"
    server_uri: "{{ openldap_url }}"
    bind_dn: "{{ openldap_superuser_dn }}"
    bind_pw: "{{ ldap_manager_pwd }}"
  when: installation_mode == 'new'

- name: set importer user password randomly
  set_fact:
    importer_password: "{{ randomly_generated_pwd }}"
  when: (testkeys is not defined or not testkeys|bool) and installation_mode == 'new'

- name: write importer_password to secrets directory
  copy:
    content: "{{ importer_password }}\n"
    dest: "{{ importer_password_file }}"
    mode: '0600'
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
  become: yes
  when: installation_mode == 'new'

- name: Set importer password in ldap
  ldap_passwd:
    dn: uid=importer,ou=tenant0,ou=operator,ou=user,{{ openldap_path }}
    passwd: "{{ importer_password }}"
    server_uri: "{{ openldap_url }}"
    bind_dn: "{{ openldap_superuser_dn }}"
    bind_pw: "{{ ldap_manager_pwd }}"
  when: installation_mode == 'new'

- name: Set {{ openldap_readonly_user_name }} password in ldap
  ldap_passwd:
    dn: "{{ openldap_readonly_user_dn }}"
    passwd: "{{ ldap_inspector_pw }}"
    server_uri: "{{ openldap_url }}"
    bind_dn: "{{ openldap_superuser_dn }}"
    bind_pw: "{{ ldap_manager_pwd }}"
  when: installation_mode == "new"

- name: Set "{{ openldap_writer_name }}" password in ldap
  ldap_passwd:
    dn: "{{ openldap_writer_dn }}"
    passwd: "{{ ldap_writer_pw }}"
    server_uri: "{{ openldap_url }}"
    bind_dn: "{{ openldap_superuser_dn }}"
    bind_pw: "{{ ldap_manager_pwd }}"
  when: installation_mode == "new"

- name: Set {{ audit_user }} password in ldap
  ldap_passwd:
    dn: "uid={{ audit_user }},ou=tenant0,ou=operator,ou=user,{{ openldap_path }}"
    passwd: "{{ auditor_initial_pwd }}"
    server_uri: "{{ openldap_url }}"
    bind_dn: "{{ openldap_superuser_dn }}"
    bind_pw: "{{ ldap_manager_pwd }}"
  when: audit_user is defined and auditor_initial_pwd is defined and installation_mode=='new'

- name: insert admin tenant0 to database
  postgresql_query:
    db: "{{ fworch_db_name }}"
    query: >
      DO $do$ BEGIN IF NOT EXISTS
      (SELECT tenant_id FROM tenant WHERE tenant_name='tenant0')
      THEN insert into tenant (tenant_name, tenant_can_view_all_devices, tenant_is_superadmin)
      values ('tenant0', true, true);
      END IF; END $do$
  become: yes
  become_user: postgres
  when: installation_mode == "new"

- name: add connection for internal ldap
  postgresql_query:
    db: "{{ fworch_db_name }}"
    query: >
      DO $do$ BEGIN IF NOT EXISTS
      (SELECT * FROM ldap_connection WHERE ldap_server = '{{ openldap_server }}')
      THEN INSERT INTO ldap_connection
      (ldap_server, ldap_port, ldap_searchpath_for_users, ldap_searchpath_for_roles, ldap_searchpath_for_groups,
      ldap_tenant_level, ldap_search_user, ldap_search_user_pwd, ldap_write_user, ldap_write_user_pwd, ldap_type)
      VALUES ('{{ openldap_server }}', {{ openldap_port }},
      '{{ openldap_std_user_dn }}', '{{ openldap_std_role_dn }}', '{{ openldap_std_group_dn }}',
      5, '{{ openldap_readonly_user_dn }}', '{{ ldap_inspector_pw }}',
      '{{ openldap_writer_dn }}', '{{ ldap_writer_pw }}', 2);
      END IF; END $do$
  become: yes
  become_user: postgres
  when: installation_mode == "new"

- name: insert admin tenant0 to device mapping - tenant0 can see all devices
  postgresql_query:
    db: "{{ fworch_db_name }}"
    query: >
      DO $do$ BEGIN IF NOT EXISTS (SELECT * FROM tenant_to_device LEFT JOIN tenant USING (tenant_id) WHERE tenant_name='tenant0')
        THEN INSERT INTO tenant_to_device (tenant_id, device_id) 
          select tenant.tenant_id, device.dev_id FROM tenant, device WHERE tenant_name='tenant0'; 
        END IF; 
      END $do$
  become: yes
  become_user: postgres
  when: installation_mode=="new"

- name: install dot net
  import_tasks: middleware_install_dot_net.yml

- name: install middleware https reverse proxy
  import_tasks: mw_apache_install_and_setup.yml

- name: upgrade with ldif files
  import_tasks: upgrade_ldap_tree.yml
  when: installation_mode == "upgrade"

- name: upgrade with yaml script
  import_tasks: run-upgrades.yml
  when: installation_mode == "upgrade"

- name: finalize handler for datarecovery
  set_fact:
    middleware_handler_guard: stop
  changed_when: true
  notify: "middleware handler"
  when: installation_mode == "upgrade"
