
- block:
    - name: Install webserver packages
      package: name={{ item }} state=present
      with_items:
        - "{{ webserver_package_name }}"
      environment: "{{ proxy_env }}"

    - name: enable apache modules proxy proxy_http ssl
      apache2_module: state=present name={{ item }}
      loop:
        - rewrite
        - proxy
        - proxy_http
        - ssl
        - proxy_wstunnel
        - wsgi

    - name: copy mw httpd config file to mw target
      template:
        src: "httpd.conf"
        dest: "{{ http_conf_dir }}/{{ product_name }}-mw.conf"
        owner: root
        group: root

    - name: create apache certificates
      include_role:
        name: openssl-cert
      vars:
        openssl_cert_path: /etc/apache2/ssl
        openssl_user: root
        openssl_private_key: "{{ openssl_cert_path }}/server.key"
        openssl_csr: "{{ openssl_cert_path }}/server.csr"
        openssl_country: DE
        openssl_state: Hessen
        openssl_location: Frankfurt
        openssl_organization: Cactus eSecurity
        openssl_email_address: "fworch@cactus.de"
        openssl_cert: "{{ openssl_cert_path }}/server.crt"
      when: installation_mode == "new"

    - name: enable {{ product_name }} middleware apache site
      command: "a2ensite {{ product_name }}-mw"
      register: testoutput

    - name: add mw port to apache
      lineinfile:
        path: "/etc/apache2/ports.conf"
        line: "Listen {{ middleware_web_listener_port }}"
        insertafter: "<IfModule ssl_module>"


    - name: restart apache
      service:
       name: "{{ webserver_package_name }}"
       state: restarted     

  become: yes
  environment: "{{ proxy_env }}"
