- name: set add mode for creating ldap tree
  set_fact:
    ldif_changetype: add

- name: build ldap tls options
  set_fact:
    ldap_tls_opts: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      -o TLS_REQCERT=never{% if openldap_server_cert is defined %} -o TLS_CACERT={{ openldap_server_cert }}{% endif %}
      {%- endif %}
    ldap_cmd_port: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      {{ openldap_port | default(636) }}
      {%- else -%}
      {{ (openldap_port | default(389) | int == 636) | ternary(389, openldap_port | default(389)) }}
      {%- endif %}
    ldap_cmd_url: >-
      {{ (openldap_server_enable_ssl | default(false)) | ternary('ldaps', 'ldap') }}://{{ openldap_server }}:{{ ldap_cmd_port }}

- name: copy the ldif templates to system
  template:
    src: "{{ item }}"
    dest: "{{  middleware_ldif_dir }}/{{ item | basename | regex_replace('\\.j2$', '') }}"
    force: true
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
  with_fileglob:
    - ../templates/ldif_files/*.j2
  become: true

- name: add tree
  command: "ldapmodify {{ ldap_tls_opts }} -H {{ ldap_cmd_url }} -D {{ openldap_superuser_dn }} -w {{ ldap_manager_pwd }} -x -f {{  middleware_ldif_dir }}/tree_{{ item }}.ldif"
  loop:
    - level_0
    - level_1
    - level_2
    - systemusers
    - roles
    - tenant0
    - operators
  # ignore errors only when re-installing on a system
