
  # install all upgrades between running version and version currently being installed

- set_fact: 
    installed_version: "{{ old_version }}"
    current_version: "{{ product_version }}"
    all_upgrades_available: "{{ lookup('fileglob', 'upgrade/*.ldif') }}"
    upgrade_files: []

- name: set list of relevant upgrade files (without extension)
  set_fact:
    upgrade_files: "{{ upgrade_files + [ item | basename | splitext | first | splitext | first ] }}"
  when: |
    item | basename | splitext | first | splitext | first  is version(installed_version, '>=') 
    and
    item | basename | splitext | first | splitext | first is version(current_version, '<=')
  with_fileglob:
    - "../templates/upgrade/*.ldif.j2"

- name: copy the upgrade ldif templates to target
  template:
    src: "../templates/upgrade/{{ item }}.ldif.j2"
    dest: "{{ middleware_ldif_dir }}/{{ item }}.ldif"
    force: yes
  loop: "{{ upgrade_files }}"
  become: yes

- name: 
  include_tasks: upgrade_modify_routine.yml
  loop: "{{ upgrade_files | sort }}"
  loop_control:
    loop_var: outer_item
