
INSERT INTO {{ collection_table }} (collection_name, collection_defn, comment, is_system_defined) VALUES ('basicQueries', '
    {
    "type" : "create_query_collection",
    "args": {
        "name": "basicCollection",
        "definition": {
            "queries": [
                {
                "name": "getImportId",
                "query": "query getImportId($management_id: Int!, $time: timestamp!) { import_control_aggregate(where: {mgm_id: {_eq:$management_id},stop_time: {_lte:$time } }) { aggregate { max { control_id } } } }"
                },
                {
                "name": "getImportId2",
                "query": "query getImportId2($management_id: Int!, $time: timestamp!) { import_control_aggregate(where: {mgm_id: {_eq:$management_id},stop_time: {_lte:$time } }) { aggregate { max { control_id } } } }"
                }
            ]
        }
    }
    }
', 'base queries to be used in other collections', FALSE);

INSERT INTO {{ allow_table }} (collection_name) VALUES ('basicQueries');