dn: cn=anonymous,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: anonymous
uniqueMember:
description: T0001
{%- endif %}


dn: cn=middleware-server,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: middleware-server
uniqueMember:
description: T0002
{%- endif %}


dn: cn=reporter,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: reporter
uniqueMember:
description: T0003
{%- endif %}


dn: cn=reporter-viewall,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: reporter-viewall
uniqueMember:
description: T0004
{%- endif %}


dn: cn=importer,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: importer
uniqueMember:
description: T0005
{%- endif %}


dn: cn=dbbackup,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: dbbackup
uniqueMember:
description: T0006
{%- endif %}


dn: cn=auditor,ou=role,{{ openldap_path }}
{% if ldif_changetype != 'delete' -%}
changetype: {{ ldif_changetype }}
objectClass: top
objectClass: groupofuniquenames
cn: auditor
uniqueMember:
description: T0007
{%- endif %}


dn: cn=workflow-user,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: workflow-user
uniqueMember:
description: T0008
{%- endif %}


dn: cn=workflow-admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: workflow-admin
uniqueMember:
description: T0009
{%- endif %}


dn: cn=fw-admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: fw-admin
uniqueMember:
description: T0010
{%- endif %}


dn: cn=admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: admin
uniqueMember:
description: T0011
{%- endif %}


dn: cn=recertifier,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: recertifier
uniqueMember:
description: T0012
{%- endif %}


dn: cn=requester,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: requester
uniqueMember:
description: T0013
{%- endif %}


dn: cn=approver,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: approver
uniqueMember:
description: T0014
{%- endif %}


dn: cn=planner,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: planner
uniqueMember:
description: T0015
{%- endif %}


dn: cn=implementer,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: implementer
uniqueMember:
description: T0016
{%- endif %}


dn: cn=reviewer,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: reviewer
uniqueMember:
description: T0017
{%- endif %}
