dn: cn=anonymous,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: anonymous
uniqueMember:
description: anonymous users can only access the login page and health statistics
{%- endif %}


dn: cn=middleware-server,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: middleware-server
uniqueMember:
description: allows the middleware server to read necessary tables (ldap_connection)
{%- endif %}


dn: cn=reporter,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: reporter
uniqueMember:
description: reporters have access to basic tables (stm_...) and limited rights for object and rule tables depending on the visible devices for the tenant the user belongs to
{%- endif %}


dn: cn=reporter-viewall,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: reporter-viewall
uniqueMember:
description: reporter role for full read access to all devices
{%- endif %}


dn: cn=importer,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: importer
uniqueMember:
description: users can import config changes into the database
{%- endif %}


dn: cn=dbbackup,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: dbbackup
uniqueMember:
description: users that are able to read data tables for backup purposes
{%- endif %}


dn: cn=auditor,ou=role,{{ openldap_path }}
{% if ldif_changetype != 'delete' -%}
changetype: {{ ldif_changetype }}
objectClass: top
objectClass: groupofuniquenames
cn: auditor
uniqueMember:
{% if audit_user is defined %}
uniqueMember: cn={{ audit_user }},ou=systemuser,ou=user,{{ openldap_path }}
{% endif %}
description: users that can view all data & settings (in the UI) but cannot make any changes
{%- endif %}


dn: cn=workflow-user,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: workflow-user
uniqueMember:
description: (for future use) users who can request firewall changes
{%- endif %}


dn: cn=workflow-admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: workflow-admin
uniqueMember:
description: (for future use) users who can create change request workflows
{%- endif %}


dn: cn=fw-admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: fw-admin
uniqueMember:
description: users who can document open changes
{%- endif %}


dn: cn=admin,ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: groupofuniquenames
cn: admin
uniqueMember:
description: users with full access rights to firewall orchestrator (this is also the pre-defined hasura role 'admin')
{%- endif %}
