dn: uid={{ openldap_readonly_user_name }},ou=systemuser,ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: {{ openldap_readonly_user_name }}
sn: {{ openldap_readonly_user_name }}
{%- endif %}


dn: {{ openldap_writer_dn }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: {{ openldap_writer_name }}
sn: {{ openldap_writer_name }}
{%- endif %}
