dn: ou=user,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: organizationalUnit
ou: user
{%- endif %}


dn: ou=role,{{ openldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectClass: organizationalUnit
ou: role
{%- endif %}
