# upgrade olcAccess

dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: to attrs=userPassword
    by self write
    by anonymous auth
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by dn.base="{{ openldap_writer_dn }}" write
    by * none
olcAccess: to attrs=shadowLastChange
    by self write
    by * read
olcAccess: to dn.children="{{ openldap_std_role_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to dn.subtree="{{ openldap_std_group_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to dn.subtree="{{ openldap_std_user_dn }}"
    by dn.base="{{ openldap_writer_dn }}" write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by * none
olcAccess: to *
    by self write
    by dn.base="{{ openldap_superuser_dn }}" write
    by dn.base="{{ openldap_readonly_user_dn }}" read
    by dn.base="{{ openldap_writer_dn }}" read
    by * none
