- block:
    - set_fact: ansible_user_home="{{ lookup('env','HOME') }}"

    - name: add user sampledev
      user:
        name: "{{ sample_config_user }}"
        comment: ITSecurity Organizer Import User for sample configs
        uid: 60321
        home: "{{ sample_config_user_home }}"
        shell: /bin/bash
        group: "{{ fworch_user }}"
        generate_ssh_key: yes
        ssh_key_bits: 4096
        ssh_key_file: ".ssh/id_rsa.{{ sample_config_user }}"
            
    - name: add sample-data user pub key to its authorized_keys
      shell: "cat {{ sample_config_user_home }}/.ssh/id_rsa.{{ sample_config_user }}.pub >> {{ sample_config_user_home }}/.ssh/authorized_keys"
        
    - name: correct sample-data users authorized_keys file acls
      file: 
         path: "{{ sample_config_user_home }}/.ssh/authorized_keys"
         owner: "{{ sample_config_user }}"
         mode: 0600

    - name: fetch sample-data user pub key
      fetch:
        src: "{{ sample_config_user_home }}/.ssh/id_rsa.{{ sample_config_user }}.pub"
        dest: "/tmp/"

    - name: fetch sample-data user priv key
      fetch:
        src: "{{ sample_config_user_home }}/.ssh/id_rsa.{{ sample_config_user }}"
        dest: "/tmp/"

    - name: copy sample configs
      copy:
        src: "sample-configs"
        dest: "{{ sample_config_user_home }}"
        owner: "{{ sample_config_user }}"
        group: "{{ fworch_user }}"

    - name: copy config changes scripts
      copy:
        src: "config_changes"
        dest: "{{ sample_config_user_home }}"
        owner: "{{ sample_config_user }}"
        group: "{{ fworch_user }}"

    - name: Executes write_date_to_comment.py as cronjob in /etc/cron.d
      cron:
        name: change fw config with write_date_to_comment.py
        weekday: "*"
        minute: "58"
        hour: "2"
        user: "{{ sample_config_user }}"
        job: "python3 {{ sample_config_user_home }}/config_changes/write_date_to_comment.py"
        cron_file: ansible_FWOrch_write_date_to_comment

    - name: Executes enlarge_rule.py as cronjob in /etc/cron.d
      cron:
        name: change fw config with enlarge_rule.py
        weekday: "*"
        minute: "15"
        hour: "3"
        user: "{{ sample_config_user }}"
        job: "python3 {{ sample_config_user_home }}/config_changes/enlarge_rule.py"
        cron_file: ansible_FWOrch_enlarge_rule
  become: yes
