# this playbook sets up some sample devices with configs to play around with
# postgresql-client

- name: create import sample user and copy configs
  include_tasks: setup-sample-import.yml

- name: install package postgresql-client for adding sample devices to db
  package:
    name: postgresql-client
    state: present
  become: yes

- name: add localhost hostkey to known_hosts - remove before adding to stay idempotent
  # todo:
  # I don't dare to change this, but my tests produce an error for "$ ssh-keygen -R localhost":
  # "Host localhost not found in /home/alf/.ssh/known_hosts"
  # Maybe localhost is added to known_hosts earlier?
  shell: "ssh-keygen -R localhost; ssh-keyscan localhost >> ~/.ssh/known_hosts"
  become: yes
  become_user: "{{ fworch_user }}"

- name: create sample devices in database
  import_tasks: create-devices.yml

- name: establish cron job to simulate hourly changes to configs
  import_tasks: setup-config-changes.yml

# - name: restart importing sample configs
#   command: "/etc/init.d/{{ product_name }}-importer restart"
#   become: yes