[Unit]
Description=ITSecOrg API service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=itsecorg
ExecStart=/usr/bin/env {{ python_binary }} {{ iso_home }}/api/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target