# this playbook sets up some sample auth data (roles, users)

- name: add auth test data to database
  include_tasks: auth_sample_data.yml
  when: sample_role_purpose is not match('delete')

- name: include ldif driven changes
  import_tasks: modify_ldap_tree.yml

- name: restart middleware server in case any changes to ldap_connections were made
  systemd:
    name: "{{ middleware_service_name }}"
    state: restarted
  become: yes
