- name: copy the ldif templates to system once more (this time for adding entries)
  template:
    src: "{{ item }}"
    dest: "{{ middleware_ldif_dir }}/{{ item | basename | regex_replace('\\.j2$', '') }}"
    force: true
  with_fileglob:
    - ../templates/tree_*.j2
  become: true

- name: build ldap tls options
  set_fact:
    ldap_tls_opts: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      -o TLS_REQCERT=never{% if openldap_server_cert is defined %} -o TLS_CACERT={{ openldap_server_cert }}{% endif %}
      {%- endif %}
    ldap_cmd_port: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      {{ openldap_port | default(636) }}
      {%- else -%}
      {{ (openldap_port | default(389) | int == 636) | ternary(389, openldap_port | default(389)) }}
      {%- endif %}
    ldap_cmd_url: >-
      {{ (openldap_server_enable_ssl | default(false)) | ternary('ldaps', 'ldap') }}://{{ openldap_server }}:{{ ldap_cmd_port }}

- name: add tree
  command: "ldapmodify {{ ldap_tls_opts }} -H {{ ldap_cmd_url }} -D {{ openldap_superuser_dn }} -y {{ ldap_manager_pwd_file }} -x -f {{ middleware_ldif_dir }}/tree_{{ item }}.ldif"
  loop:
    - sample_tenants
    - sample_operators
    - sample_groups
  become: true

# only add roles and groups when not testing to avoid resudue from tests
- name: add tree
  command: "ldapmodify {{ ldap_tls_opts }} -H {{ ldap_cmd_url }} -D {{ openldap_superuser_dn }} -y {{ ldap_manager_pwd_file }} -x -f {{ middleware_ldif_dir }}/tree_{{ item }}.ldif"
  loop:
    - roles_for_sample_operators
    - groups_for_sample_operators
  become: true
  when: sample_role_purpose is not match('test')
