@using FWO.Api.Data

@inject UserConfig userConfig
@inject IJSRuntime jsRuntime

<NavLink class="nav-link" target="_blank" rel="noopener noreferrer" href="@($"/help/{Page}?lang={userConfig.GetUserLanguage()}")">
    <span class="@(Icons.Help) ms-2"></span> @ChildContent
</NavLink>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Page { get; set; } = "";
}
