@inject UserConfig userConfig

<PopUp Title="@(userConfig.GetText("in_progress"))" Small="true" Show="@Display" OnClose="() => Display = false">
    <Body>
        @if (Display)
        {
            <div class="row">
                <div class="spinner-border mx-auto align-self-center" role="status"></div>
            </div>
        }
    </Body>
</PopUp>

@code
{
    [Parameter]
    public bool Display { get; set; } = false;
        
    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }
}
