@using FWO.Ui.Data
@inject UserConfig userConfig

<div class="@GetCssClasses()" role="status">
    <span class="visually-hidden">@(userConfig.GetText("loading"))</span>
</div>

@code{
    [Parameter]
    public SpinnerSize Size { get; set; } = SpinnerSize.Small;

    [Parameter]
    public string CssClass { get; set; } = "";

    private string GetCssClasses()
    {
        string spinnerClass = "spinner-border spinner-border";

        switch (Size)
        {
            case SpinnerSize.Small:
                spinnerClass += "-sm";
                break;
            default:
                break;
        }

        return $"{spinnerClass} {CssClass}";
    }
}