@using FWO.Api.Data
@using FWO.Report

@typeparam InputDataType

@if (Data != null && NameExtractor != null)
{
    @foreach (InputDataType obj in Data)
    {
        <ObjectGroup FetchObjects="FetchObjects" Recert="Recert" Tab="Tab" StartCollapsed="StartCollapsed" StartContentDetailed="StartContentDetailed"
            InputDataType="InputDataType" InitialContent="obj" NameExtractor="NameExtractor" NetworkObjectExtractor="NetworkObjectExtractor"
            NetworkServiceExtractor="NetworkServiceExtractor" NetworkUserExtractor="NetworkUserExtractor" Reload="Reload"/>
        <div class="mb-1"></div>
    }
}

@code
{
    [Parameter]
    public Func<RsbTab, ObjCategory, Func<Management[], Task>, long, bool, Task>? FetchObjects { get; set; }

    [Parameter]
    public bool Recert { get; set; }

    [Parameter]
    public RsbTab Tab { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool StartCollapsed { get; set; } = true;

    [Parameter]
    public bool StartContentDetailed { get; set; } = false;

    [Parameter]
    public IEnumerable<InputDataType>? Data { get; set; }

    [Parameter]
    public Func<InputDataType, string>? NameExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkObject>>? NetworkObjectExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkService>>? NetworkServiceExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkUser>>? NetworkUserExtractor { get; set; }
    
    [Parameter]
    public bool Reload { get; set; } = false;
}
