@using FWO.Data.Report
@using FWO.Report

@typeparam InputDataType

@if (Data != null && NameExtractor != null)
{
    @foreach (InputDataType content in Data)
    {
        <ObjectGroup PageSize="PageSize" FetchObjects="FetchObjects" Recert="Recert" Tab="Tab" StartCollapsed="StartCollapsed" StartContentDetailed="StartContentDetailed"
            InputDataType="InputDataType" Content="content" NameExtractor="NameExtractor" NetworkObjectExtractor="NetworkObjectExtractor"
            NetworkServiceExtractor="NetworkServiceExtractor" NetworkUserExtractor="NetworkUserExtractor" @key="GetContentKey(content)" />
        <div class="mb-1"></div>
    }
}

@code
{
    [Parameter]
    public Func<RsbTab, ObjCategory, Func<Task>, long, bool, Task>? FetchObjects { get; set; }

    [Parameter]
    public bool Recert { get; set; }

    [Parameter]
    public RsbTab Tab { get; set; }

    [EditorRequired]
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool StartCollapsed { get; set; } = true;

    [Parameter]
    public bool StartContentDetailed { get; set; } = false;

    [Parameter]
    public IEnumerable<InputDataType>? Data { get; set; }

    [Parameter]
    public Func<InputDataType, string>? NameExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkObject>>? NetworkObjectExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkService>>? NetworkServiceExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkUser>>? NetworkUserExtractor { get; set; }

    private object GetContentKey(InputDataType? content)
    {
        if (content == null)
        {
            return string.Empty;
        }

        return content switch
        {
            ManagementReport managementReport => $"m-{managementReport.Id}",
            Rule rule => $"r-{rule.Id}",
            OwnerConnectionReport ownerReport => $"owner-{ownerReport.Owner.Id}",
            GlobalCommonSvcReport globalReport => $"global-{globalReport.Name}",
            ConnectionReport connectionReport => $"conn-{connectionReport.Name}",
            _ => content
        };
    }
}
