@inject UserConfig UserConfig


<form class="my-1" onsubmit="SubmitPageSize">
    <div class="d-flex justify-content-end">
        <label for="pagesize" class="p-2 d-inline-flex">@UserConfig.GetText("PagerPagesize")</label>
        <input id="pagesize" type="text" class="cwidth-70 d-inline-flex form-control form-control-sm me-2" @bind="PageSize" />
        <button type="submit" class="btn btn-sm btn-primary" @onclick:preventDefault="true" @onclick="SubmitPageSize">@UserConfig.GetText("PagerSubmit")</button>
    </div>
</form>

@code {
    [Parameter] public EventCallback<int> PageSizeCallback { get; set; }

    private int PageSize { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PageSize = UserConfig.OverviewDisplayLines;
        }
        catch (Exception)
        {
            PageSize = 10;
        }

        await SubmitPageSize();

        base.OnInitialized();
    }

    private async Task SubmitPageSize()
    {
        await PageSizeCallback.InvokeAsync(PageSize);
    }
}
