@using FWO.Ui.Services

@if (Show)
{
    <div class="modal-backdrop popup-outer">
        <div class="modal-open" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered @(SizeClass())">
                <div class="modal-content mod-popup">
                    <div class="modal-header justify-content-between">
                        <h5 class="modal-title">@Title</h5>
                        <button type="button" class="modern-close" @onclick="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body popup-body">
                        @Body
                    </div>
                    <hr>
                    <div class="modal-footer">
                        @Footer
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    [Parameter]
    public string Title { get; set; } = "EMPTY_TITLE";

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    public bool Show { get; set; } = false;

    [Parameter]
    public PopupSize Size { get; set; } = PopupSize.Small;

    [Parameter]
    public bool Scrollable { get; set; } = true;

    [Parameter]
    public Action OnClose { get; set; } = new Action(() => { });

    [Parameter]
    public int PageSize { get; set; }

    private string SizeClass()
    {
        switch (Size)
        {
            case PopupSize.FullScreenWidth: return "mod-fs";
            case PopupSize.XLarge: return "mod-xl";
            case PopupSize.Large: return "mod-lg";
            case PopupSize.Medium: return "mod-md";
            case PopupSize.Small: return "mod-sm";
            default: return "modal-sm";
        };
    }

    private void Close()
    {
        Show = false;
        OnClose();
    }
}
