<h3>RulebaseHeader</h3>

@*
- Bekommt in der GUI einen Rulebase header (Name der Rulebase) über der ersten Regel
- Header hat Pfeil zum einklappen, Header selber bleibt immer sichtbar (solange nicht eine höre Instanz eingeklappt wird)
- Numerierung von mehreren Ordered Layer Regeln ist in Dot-Notation
- Low-level Numerierung der Regeln geht bei 1 los
- High-level Numerierung der Regeln zeigt Poition des Ordered Layers an
    -- 1.13 ist 13. Regel im ersten Ordered Layer, 4.2 ist zweite Regel im 4. Ordered Layer
- Achtung: Gibt es nur einen Ordered Layer braucht man keine Dot-Notation
- Achtung: Dot-Notation kann sich tief schachteln:
    -- 3.6.5.8.1.2 könnte 3. Global Ordered Layer, 6. Global Regel, 5. Local 
Ordered Layer, 8. Regel vom Ordered Layer, 1. Regel im Iniline Layer x, 2.Regel im Inline Layer y sein
*@

@code {

}
