@implements IDisposable

@if (ContainerTabSet?.KeepPanelsAlive == true)
{
    <div style="display:@(ContainerTabSet?.ActiveTab == this ? "contents" : "none")">
        @ChildContent
    </div>
}
else
{
    @if (ContainerTabSet?.ActiveTab == this)
    {
        @ChildContent
    }
}

@code {
    [CascadingParameter]
    public TabSet? ContainerTabSet { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Closeable { get; set; } = false;

    [Parameter]
    public int Position { get; set; } = -1;

    protected override void OnInitialized()
    {
        ContainerTabSet?.AddTab(this, Position);
    }

    private void ActivateTab()
    {
        ContainerTabSet?.SetActiveTab(this);
    }

    public void Dispose()
    {
        try
        {
            ContainerTabSet?.RemoveTab(this);
        }
        catch { }
    }
}
