/* $Id: firewall.css,v 1.1.2.4 2012-03-30 15:32:44 tim Exp $ */
/* $Source: /home/cvs/iso/package/web/htdocs/css/Attic/firewall.css,v $ */

body,body.iframe{margin:0px;padding:0px;border-left:0px;background:url(../img/bg1.gif) repeat-y #D1D1D1;}
body,body.iframe,table,tr,td,ul,li,a,h1,h3,div{font-family:Arial,Helvetica;font-size:12px;font-weight:normal;color:#333;}
body.iframe{background:url(../img/1p_tr.gif) #D1D1D1;}
body.index{background:url(../img/1p_tr.gif) #D1D1D1;}
p.nobreak { white-space:nowrap; line-height: 0.3; }

table,img{border:none 0px;}

li.first{margin-left:-20px;margin-bottom:2px;list-style-image:url(../img/bullet.gif);}
li.second{margin-left:-20px;margin-bottom:2px;list-style-image:url(../img/bullet2.gif);}
ul{margin-bottom:0px;margin-top:2px;}
h2{font-size:14px;margin:0px;padding:0px;}
h3{font-size:12px;margin-top:25px;margin-bottom:0px;padding:0px 0px 15px 0px;font-weight:bold;}
h4{font-size:11px;margin:0px;padding:0px 0px 15px 0px;font-weight:bold;}
h5{font-size:10px;margin:0px;padding:0px 0px 15px 0px;font-weight:bold;}
li.abstand{margin-bottom:10px;}
b.headlinemain{font-family:arial,helvetica;font-size:14px;font-weight:bold;color:#333;}
b.headline{font-family:arial,helvetica;font-size:13px;font-weight:bold;color:#333;}

.leftOffset {
   background: #123456;
}
.nobr { white-space: nowrap; }
.nomargin{margin: 0px}
/*Farbe oberhalb horizontale Navigation*/
#farbe_oben{position:absolute;top:0px;left:0px;z-index:1;background-color:#C6C6C6;width:100%;height:35px;}
#nav_hor_text{background-color:#C6C6C6;display:block;text-decoration:none;align:center;margin-right:3px;margin-left:3px;font-weight:bold;font-size:1.2em;}
#navi-head{position:absolute;top:10px;left:495px;z-index:1;}
#navi-hor{position:absolute;top:8px;left:0px;width:100%;z-index:2;} /*mit Text top 8px*/
#navi-vert{position:absolute;top:37px;left:5px;width:155px;z-index:1;}
#navi-vert-linie{position:absolute;top:110px;left:165px;z-index:1;}
#inhalt{position:absolute;top:53px;left:177px;z-index:10;} /*width:100%;*/
#inhalt1{position:absolute;top:10px;left:10px;z-index:20;}
#linie-vert{width:2px;height:0px;z-index:1;}
.navi_col_def{background-color:#D1D1D1;}

.olddate{background-color:#6AD8D7;}
.newdate{background-color:#80FF80;}
.newdatedel{background-color:#80FF80;text-decoration:line-through;}


/*Tabelle Inhalt*/
.tab-fixed-width{}
.tab-border{border-top:1px solid #999;border-left:1px solid #999;background-color:#FFF;}
.headerdev{text-align:center;background-color:#C00;border-right:1px solid #999;border-bottom:1px solid #999;padding:3px;white-space:nowrap;color:#FFF;}
.headerdev_left{text-align:left;background-color:#C00;border-right:1px solid #999;border-bottom:1px solid #999;padding:3px;white-space:nowrap;color:#FFF;}
.headerdev_komm{text-align:center;background-color:#C00;border-right:1px solid #999;border-bottom:1px solid #999;padding:3px;white-space:nowrap;color:#FFF;}

.fw_headerdev{background-color:#EEE;border-bottom:1px solid #999;vertical-align:top;}
.fw_headerdev_right{background-color:#EEE;border-bottom:1px solid #999;border-right:1px solid #999;padding:3px;}

.fw_headerdev_device{color:#FFF;background-color:#C00;border-bottom:1px solid #999;vertical-align:top;}
.fw_headerdev_device_right{color:#FFF;background-color:#C00;border-bottom:1px solid #999;border-right:1px solid #999;padding:3px;}
.fw_headerdev_device_inner_div{color:#FFF;background-color:#C00;vertical-align:top;}


.celldev{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;white-space:nowrap;color:#333;}
.celldev_wrap{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#333;}
.celldev2{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;white-space:nowrap;color:#999;}
.celldev3{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;white-space:nowrap;color:#333;text-align:center;}
.celldev_noborder{text-align:left;padding:3px;border-right:0px solid #999;border-bottom:0px solid #999;white-space:nowrap;color:#333;}
.celldevAlignRight{text-align:right;padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;white-space:nowrap;color:#333;}

a.navi-hor:link,a.navi-hor:visited,a.navi-hor:active{text-decoration:none;}
a.navi-hor:hover{text-decoration:none;}

a.navi-head:link,a.navi-head:visited,a.navi-head:active{display:block;background:url(../img/arrow_link_off.gif) no-repeat 0px 4px;padding-left:10px;text-decoration:none;color:#333;}
a.navi-head:hover{display:block;background:url(../img/arrow_link_on.gif) no-repeat 0px 4px;padding-left:10px;text-decoration:none;color:#999;}

a:link,a:visited,a:active{text-decoration:underline;color:#333;}
a:hover{text-decoration:none;color:#666;}

/* ALT
a.navi:link,a.navi:visited,a.navi:active{display:block;background:url(../img/arrow_link_off.gif) no-repeat 0px 4px;padding-left:10px;text-decoration:none;color:#333;}
a.navi:hover{display:block;background:url(../img/arrow_link_on.gif) no-repeat 0px 4px;padding-left:10px;text-decoration:none;color:#999;}
*/

/*Inputfelder Anmelden*/
input.diff{width:150px;border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;margin-bottom:5px;}
input.button{border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
#textarea.diff{border:1px #333 solid;padding:0px 2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;width:150px;height:33px;}
textarea.diff{border:1px #333 solid;padding:0px 2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;width:150px;}
select.diff{width:125px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}

textarea.diff_nosize{border:1px #333 solid;padding:0px 2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
input.diff_nosize{border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;margin-bottom:5px;}

/*Inputfelder Filter*/
input.filter{border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
input.button{border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
textarea.filter{border:1px #333 solid;padding:2px;background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
select.filter{background-color:#FFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
input.filter210,select.filter210,textarea.filter210{width:210px;}
input.filter150,select.filter150,textarea.filter150{width:150px;}
input.filter110,select.filter110,textarea.filter110{width:110px;}
input.filter100,select.filter100,textarea.filter100{width:100px;}
input.filter80,select.filter80,textarea.filter80{width:80px;}
input.filter50,select.filter50,textarea.filter50{width:50px;}
input.filter45,select.filter45,textarea.filter45{width:45px;}
input.radiopos{margin-left:5px;}
input.dist_ob{margin:6px 0px 2px 0px;}
input.dist_mit,select.dist_mit{margin:2px 0px;}
input.dist_unt,select.dist_unt{margin:2px 0px 6px 0px;}
input.dist_rundum,select.dist_rundum{margin:6px 6px 6px 6px;}
input.dist_single,select.dist_single{margin:6px 0px;}

.ptfilter{padding-top:5px;}
.line_l{padding-left:10px;border-left:1px solid #666;}
.line_r{padding-right:10px;border-right:1px solid #666;text-align:right;}
.line_l_r{padding:0px 10px;border-left:1px solid #666;border-right:1px solid #666;}
.celltitle{background:url(../img/linie_grau.gif) repeat-x bottom;}
.texttitle{background-color:#D1D1D1;padding:0px 5px;font-weight:bold;}

.tabfilter{border-bottom:1px solid #666;}
.tabfilter2{border-bottom:1px solid #666;margin-top:10px;}

/*Navigations Baum, separate Angaben fuer IE*/
#body{background-color:#666;}
#menu {overflow:auto;width:147px;height:400px;white-space:nowrap;background-color:#D1D1D1;padding:4px 4px 20px 4px;top:50px;left:5px;position:absolute;display:none;border:1px solid #333;}
#menu, #menu li{font:10px Verdana,arial,helvetica;color:#333;}
a.baum:link,a.baum:visited,a.baum:active{font:10px Verdana,arial,helvetica;color:#333;text-decoration:none;}
a.baum:active,a.baum:visited{text-decoration:none;color:red;}
a.baum:hover{font:10px Verdana,arial,helvetica;color:#333;text-decoration:underline;color:#999;}
b.headmenu{font:11px Verdana,arial,helvetica;color:#333;font-weight:bold;}

#ChangeFrame{position:relative;left:177px;border:1px solid #FFF;background-color:#D1D1D1;width:250px;height:250px;padding:0px;}
#Change_Config_Frame{position:relative;left:177px;border:1px solid #FFF;background-color:#D1D1D1;width:250px;height:250px;padding:0px;}
