<nav class="sidebar sidebar-expand-sm sidebar-dark bg-dark shadow w-100">
    <div class="sidebar-main d-flex flex-row" style="left: 0px;">
        <div class="sidebar-dark bg-dark" style="width: 200px overflow-x: scroll">
            <ul class="sidebar-nav mr-auto">
                <h5>Reporting</h5>
                <a class="nav-link" href="/help/reporting/filter"> Filter Syntax</a>
                <a class="nav-link" href="/help/reporting/templates"> Templates</a>
                <a class="nav-link" href="/help/reporting/export"> Export</a>
                <a class="nav-link" href="/help/reporting/output"> Report Data Output</a>
                <a class="nav-link" href="/help/reporting/leftside"> Left Sidebar</a>
                <a class="nav-link" href="/help/reporting/rightside"> Right Sidebar</a>
            </ul>
        </div>
    </div>
</nav>
