@page "/help/API"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("api")</h3>
    @(Html.Raw(userConfig.GetText("H6001")))
    <ul>
        <li>
            @(Html.Raw(userConfig.GetText("H6011")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H6012")))
        </li>
    </ul>
</div>
