@page "/help/reporting/leftside"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpReportingSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Left Sidebar</h3>
    Here all available devices are displayed. For the creation of a report a selection out of them has to be done.
</div>
