@page "/help/settings/password"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Password</h3>
    Every user (except demo user) can change his own password.<br>
    The new password has to be different from the old one and is checked against the <a href="/help/settings/passwordpolicy">Password Policy</a>.
</div>
