@page "/help/reporting/rightside"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpReportingSidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("right_sidebar")</h3>
    @(Html.Raw(userConfig.GetText("H1601")))
    <ul>
        @(Html.Raw(userConfig.GetText("H1602")))
    </ul>
</div>
