<nav class="sidebar sidebar-expand-sm sidebar-dark bg-dark shadow w-100">
    <div class="sidebar-main d-flex flex-row" style="left: 0px;">
        <div class="sidebar-dark bg-dark" style="width: 200px overflow-x: scroll">
            <ul class="sidebar-nav mr-auto">
                <h5>Introduction</h5>
                <a class="nav-link" href="/help/API/graphql">
                    <span class="oi oi-inbox"></span> GraphQL
                </a>
                <a class="nav-link" href="/help/API/hasura">
                    <span class="oi oi-shield"></span> Hasura
                </a>
                <a class="nav-link" href="/help/API/security">
                    <span class="oi oi-shield"></span> Security / JWT
                </a>
                <a class="nav-link" href="/help/API/links">
                    <span class="oi oi-data-transfer-download"></span> Further readings
                </a>
                <h5>Basic commands</h5>
                <a class="nav-link" href="/help/API/login">
                    <span class="oi oi-account-login"></span> Login
                </a>
                <a class="nav-link" href="/help/API/logout">
                    <span class="oi oi-account-logout"></span> Logout
                </a>
                <a class="nav-link" href="/help/API/query">
                    <span class="oi oi-eye"></span> Basic Query
                </a>
                <a class="nav-link" href="/help/API/mutation">
                    <span class="oi oi-command"></span> Basic Mutation
                </a>
            </ul>
        </div>
    </div>
</nav>
