@page "/help/API/mutation"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Mutation</h3>
    
The following mutation (does not work yet) sets the language of user with id 1 to German.
<pre>
curl --insecure --request POST \
        --url https://localhost:9443/api/v1/graphql \
        --header 'content-type: application/json' \
        --header 'x-hasura-role: auditor' \
        --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIxX2RlbW8iLCJ4LWhhc3VyYS11c2VyLWlkIjoiNCIsIngtaGFzdXJhLXV1aWQiOiJ1aWQ9dXNlcjFfZGVtbyxvdT10ZW5hbnQyLG91PW9wZXJhdG9yLG91PXVzZXIsZGM9ZndvcmNoLGRjPWludGVybmFsIiwieC1oYXN1cmEtdGVuYW50LWlkIjoiMyIsIngtaGFzdXJhLXZpc2libGUtbWFuYWdlbWVudHMiOiJ7IDIgfSIsIngtaGFzdXJhLXZpc2libGUtZGV2aWNlcyI6InsgMiB9Iiwicm9sZSI6ImF1ZGl0b3IiLCJ4LWhhc3VyYS1hbGxvd2VkLXJvbGVzIjpbImF1ZGl0b3IiXSwieC1oYXN1cmEtZGVmYXVsdC1yb2xlIjoiYXVkaXRvciIsIm5iZiI6MTYyMjkxNTA3NCwiZXhwIjoxNjIyOTI5NTM0LCJpYXQiOjE2MjI5MTUwNzQsImlzcyI6IkZXTyBNaWRkbGV3YXJlIE1vZHVsZSIsImF1ZCI6IkZXTyJ9.bs5hTz6eZSV3xKDzsKxGuyDbdIIQfZgoEgKBoBZ-eBVlwzkHSgE5A0Z5Bg3BuyzP8VDPYfu4YfKGJNxjadumU7QVFKtrDlueNfYlUb_dBNQl2DSqdQmD9TfphAtclcBDuFKe7DKnEsPNvskoXbrDgrBQPK7talEKqTNkkKEORmpd3czuviLZyAyD5Uez_5Tc0T-9dlpENs4m4t8_FfpMpUW7i5-5BEE-ma4a1SPpmltdCJRsRQIwJUkjg_vJAHjzFuxGBXkKd7LdX7S7wiDiNUWfz0yy86zamDmeinEDnRX-mkjIN7f9vNCtldznZxvWOiRyHERxd9ek9To3WZIDMw' \
        --data '{"id": 1, "language": "German"}' \
        --data '{"query":"mutation updateUserLanguage($id: Int! $language: String!) { update_uiuser_by_pk(pk_columns: { uiuser_id: $id } _set: { uiuser_language: $language } ) { UpdatedId: uiuser_id } }"}'
</pre>

</div>
