@page "/help/settings/groups"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Groups</h3>
    Groups of users can be defined in the internal Ldap.<br>
    There is the possibility to add/edit/delete self defined groups and to add/remove users to/from these groups.<br>
    If there are sample data (defined by the ending "_demo" of the group name), a button is displayed to delete them.
    The deletion is only possible, if there are no non-sample users (user name not ending with "_demo") assigned to the group.
</div>
