@page "/help/settings/recertification"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Recertification Settings</h3>
    A recertifier can overwrite some personal setting for the recertification report. 
    The default value is set by the admin in the <a href="/help/settings/defaults">Default Settings</a>.
    <ul>
        <li>Recertification Display Period (in days): Lookahead period for upcoming recertifications.</li>
    </ul>
</div>
