<nav class="sidebar sidebar-expand-sm sidebar-dark bg-dark shadow w-100">
    <div class="sidebar-main d-flex flex-row" style="left: 0px;">
        <div class="sidebar-dark bg-dark" style="width: 200px overflow-x: scroll">
            <ul class="sidebar-nav mr-auto">
                <p></p>
                <h5>Devices</h5>
                <a class="nav-link" href="/help/settings/managements">
                    <span class="oi oi-inbox"></span> Managements
                </a>
                <a class="nav-link" href="/help/settings/gateways">
                    <span class="oi oi-shield"></span> Gateways
                </a>
                <a class="nav-link" href="/help/settings/import">
                    <span class="oi oi-data-transfer-download"></span> Import
                </a>
                <h5>Authorization</h5>
                <a class="nav-link" href="/help/settings/ldap">
                    <span class="oi oi-key"></span> LDAP
                </a>
                <a class="nav-link" href="/help/settings/tenants">
                    <span class="oi oi-command"></span> Tenants
                </a>
                <a class="nav-link" href="/help/settings/users">
                    <span class="oi oi-person"></span> Users
                </a>
                <a class="nav-link" href="/help/settings/groups">
                    <span class="oi oi-people"></span> Groups
                </a>
                <a class="nav-link" href="/help/settings/roles">
                    <span class="oi oi-tags"></span> Roles
                </a>
                <h5>Defaults</h5>
                <a class="nav-link" href="/help/settings/defaults">
                    <span class="oi oi-cog"></span> Defaults
                </a>
                <a class="nav-link" href="/help/settings/passwordpolicy">
                    <span class="oi oi-document"></span> Password Policy
                </a>
                <h5>Personal</h5>
                <a class="nav-link" href="/help/settings/password">
                    <span class="oi oi-account-login"></span> Password
                </a>
                <a class="nav-link" href="/help/settings/language">
                    <span class="oi oi-comment-square"></span> Language
                </a>
                <a class="nav-link" href="/help/settings/report">
                    <span class="oi oi-list"></span> Reporting
                </a>
            </ul>
        </div>
    </div>
</nav>
