@page "/help/API"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>API</h3>
    Firewall Orchestrator has a <a href="/help/API/graphql">GraphQl</a> API which is based on <a href="/help/API/hasura">Hasura</a>. 
    This allows us to flexibly provide access to all data in the database
    and also define the level of granularity the data is returned in.
    <ul>
        <li>
            The section "Introduction" provides a quick overview touching basic underlying technology 
            like <a href="/help/API/graphql">GraphQl</a> and <a href="/help/API/hasura">Hasura</a>, 
            gives some insight into <a href="/help/API/security">Security</a> mechanisms as well as 
            <a href="/help/API/links">further reading</a> material.
        </li>
        <li>
            The chapter "Authorization" offers the functionality for the user administration:
            In <a href="/help/settings/ldap">Ldap Connections</a> external connections besides the internal Ldap can be defined.
            <a href="/help/settings/tenants">Tenants</a> can be associated with specific gateways.
            Internal or external <a href="/help/settings/users">Users</a> can be assigned to <a href="/help/settings/groups">User Groups</a>
            and <a href="/help/settings/roles">Roles</a>
        </li>
        <li>
            In the "Defaults" chapter the administrator can define <a href="/help/settings/defaults">Default Values</a> applicable to all users
            and set a <a href="/help/settings/passwordpolicy">Password Policy</a> valid for all password changes.
        </li>
        <li>
            The "Personal" chapter is assessible by all users, where they can set their individual <a href="/help/settings/password">Password</a>,
            <a href="/help/settings/language">Language</a> and <a href="/help/settings/report">Reporting</a> preferences.
        </li>
    </ul>
</div>
