@page "/help/reporting/rightside"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpReportingSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Right Sidebar</h3>
    There are two Tabs shown in the right sidebar: The "All" tab displays all currently fetched objects,
    while in the "Rule" tab only the objects of a rule selected in the report output are shown.
    The following data are displayed grouped by the selected devices:
    <ul>
        <li>Network objects</li>
        <li>Services</li>
        <li>Users</li>
    </ul>
</div>
