@page "/help/settings/passwordpolicy"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Password Policy</h3>
    The admin user can define a password policy, against which all new passwords of all (internal) users are checked.<br>
    Parameters are:
    <ul>
        <li>Min Length: Minimal length of the password</li>
        <li>Upper Case Required: There has to be at least one character in upper case in the password</li>
        <li>Lower Case Required: There has to be at least one character in lower case in the password</li>
        <li>Number Required: There has to be at least one number in the password</li>
        <li>Special Characters Required: There has to be at least one special character in the password. Possible values are: !?(){}=~$%&#*-+.,_</li>
    </ul>
</div>
