@page "/help/API/hasura"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("hasura")</h3>
    @(Html.Raw(userConfig.GetText("H6201")))
</div>
