@page "/help/settings/users"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}

<div class="p-2">
    <h3>Users</h3>
    Here all users known to the system are displayed. 
    These are all users defined in the internal Ldap and users from external Ldaps who have already logged in at least once.<br>
    The administrator has the possibility to reset the password of the users and set a new password which has to comply with the <a href="/help/settings/passwordpolicy">Password Policy</a>. A flag is set that the user has to change his password at next login (except for users with auditor role, because that role is nor allowed to make any changes).<br>
    If there are sample data (defined by the ending "_demo" of the user name), a button is displayed to delete them.
</div>
