dn: {{ sample_ldap_path }}
changetype: add
objectClass: dcObject
objectClass: organization
o: root of example.com


dn: ou=user,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: user


dn: ou=role,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: role


dn: ou=group,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: group
