dn: ou=user,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: user


dn: ou=role,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: role
