dn: uid=anke,ou=user,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: inetorgperson
cn: anke
sn: a
userPassword: anke1


dn: uid=berta,ou=user,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: inetorgperson
cn: berta
sn: b
userPassword: berta1


dn: uid=cloe,ou=user,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: inetorgperson
cn: cloe
sn: c
userPassword: cloe1
