dn: cn=A,ou=role,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: groupofuniquenames
cn: A
uniqueMember:
description: des A


dn: cn=B,ou=role,{{ sample_ldap_path }}
changetype: add
objectClass: top
objectClass: groupofuniquenames
cn: B
uniqueMember:
description: des B
