dn: olcDatabase=hdb,cn=config
changetype: add
objectClass: olcDatabaseConfig
objectClass: olcHdbConfig
olcDatabase: hdb
olcSuffix: {{ sample_ldap_path }}
olcDbDirectory: /var/lib/ldap/{{ sample_ldap_domain_name }}/
olcRootDN: {{ openldap_superuser_dn }}
olcDbIndex: objectClass eq
