@using FWO.Ui.Data

<div class="w-100 card @Class">
    <div class="btn-group w-100">
        <button class="btn btn-sm btn-@Style" @onclick="ToggleCollapse"> <span class="oi oi-@(show == ".show" ? "collapse-up" : "collapse-down")"></span> </button>
        <button class="btn btn-sm btn-block btn-@Style disabled text-left" @ondblclick="ToggleCollapse">@Title</button>
    </div>
    <div class="@($"collapse{show}") p-2">
        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool StartToggled { get; set; }

    [Parameter]
    public string Style { get; set; } = "secondary";

    [Parameter]
    public string Class { get; set; } = "";

    private string show = ".show";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            show = StartToggled ? "" : ".show";
    }

    private void ToggleCollapse()
    {
        show = show == "" ? ".show" : "";
    }

    public void ForceCollapse()
    {

    }
}
