@using FWO.ApiConfig

@inherits LayoutComponentBase
@layout MainLayout

@inject UserConfig userConfig

<Sidebar PositionLeft="true" Collapsible="false" Resizeable="false" SidebarCssClass="navbar-dark bg-dark" InitialWidth="sidebarWidth" @bind-Width="sidebarWidth">
    <div class="m-2 mt-4">
        <ul class="navbar-nav flex-column">
            <AuthorizeView Roles="admin, importer, auditor">
                <li class="nav-item px-2" data-toggle="tooltip" title="Administration of technical components (only by admin)">
                    <h5>Devices</h5>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="admin, auditor">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Administrate the connected managements" href="settings/managements">
                        <span class="oi oi-inbox"></span> Managements
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Administrate the connected gateways" href="settings/gateways">
                        <span class="oi oi-shield"></span> Gateways
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="admin, importer, auditor">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Show the status of all import jobs. Possibility to rollback if necessary" href="settings/import">
                        <span class="oi oi-data-transfer-download"></span> Import Status
                    </NavLink>
                </li>
                <hr />
            </AuthorizeView>
            <AuthorizeView Roles="admin, auditor">
                <li class="nav-item px-2" data-toggle="tooltip" title="User authorization management (only by admin)">
                    <h5>Authorization</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Administrate all LDAP connections" href="settings/ldap">
                        <span class="oi oi-key"></span> LDAP
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Show all tenants and link them to gateways" href="settings/tenants">
                        <span class="oi oi-command"></span> Tenants
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Show and administrate all users from internal LDAP. Show users from external LDAPs who have already logged in" href="settings/users">
                        <span class="oi oi-person"></span> Users
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Show and assign all user groups (internal LDAP)" href="settings/groups">
                        <span class="oi oi-people"></span> Groups
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Show and assign all user roles (internal LDAP)" href="settings/roles">
                        <span class="oi oi-tags"></span> Roles
                    </NavLink>
                </li>
                <hr />
                <li class="nav-item px-2" data-toggle="tooltip" title="Administration of default settings (only by admin)">
                    <h5>Defaults</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Set default values for all users and some technical parameters" href="settings/defaults">
                        <span class="oi oi-cog"></span> Defaults
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Set the policy for all user passwords" href="settings/passwordpolicy">
                        <span class="oi oi-document"></span> Password Policy
                    </NavLink>
                </li>
                <hr />
            </AuthorizeView>
            <AuthorizeView Roles="admin, reporter, reporter-viewall, workflow-user, workflow-admin, auditor">
                <li class="nav-item px-2" data-toggle="tooltip" title="Personal settings for the individual user">
                    <h5>Personal</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" data-toggle="tooltip" title="Change your personal login password" href="settings/password">
                        <span class="oi oi-account-login"></span> Password
                    </NavLink>
                    <NavLink class="nav-link" data-toggle="tooltip" title="Set your preferred language" href="settings/language">
                        <span class="oi oi-comment-square"></span> Language
                    </NavLink>
                    <NavLink class="nav-link" data-toggle="tooltip" title="Adapt your personal reporting settings" href="settings/report">
                        <span class="oi oi-list"></span> Reporting
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
    </div>
</Sidebar>

    
<div style="margin-left: @($"{sidebarWidth + 20}px");">
    @Body
</div>

@code
{
    private int sidebarWidth = 200;
}

