<li class="nav-item">
    <div @onclick="ActivateTab" class="d-flex justify-content-center nav-link @CssClass @(ContainerTabSet.ActiveTab == this ? "active" : "")">
        @Title
        @*@if (Closeable)
        {
            <div class="ml-1 oi oi-x"></div>
        }*@
    </div>
</li>

@code {
    [CascadingParameter]
    public TabSet ContainerTabSet { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; } = "";

    [Parameter]
    public bool Closeable { get; set; } = false;

    protected override void OnInitialized()
    {
        ContainerTabSet.AddTab(this);
    }

    private void ActivateTab()
    {
        ContainerTabSet.SetActiveTab(this);
    }
}
