<li class="nav-item">
    <a @onclick="ActivateTab" class="nav-link text-dark @CssClass @(ContainerTabSet.ActiveTab == this ? "active" : "")" href="javascript:void(0);">
        @Title
        @*@if (Closeable)
        {
            <div class="ml-1 oi oi-x"></div>
        }*@
    </a>
</li>

@code {
    [CascadingParameter]
    public TabSet ContainerTabSet { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; } = "";

    [Parameter]
    public bool Closeable { get; set; } = false;

    protected override void OnInitialized()
    {
        ContainerTabSet.AddTab(this);
    }

    private void ActivateTab()
    {
        ContainerTabSet.SetActiveTab(this);
    }
}
