@inherits LayoutComponentBase

<CascadingValue Value="navLayerZ">
    <div style="z-index:2; position:sticky; position: -webkit-sticky; top: 0;">
        <NavigationMenu />
    </div>
</CascadingValue>

<div class="main">
    <div class="content p-4">
        @Body
    </div>
</div>

@code
{
    int navLayerZ;
}