@inherits LayoutComponentBase

<div style="z-index:2; top:0px;" class="position-sticky">
    <NavigationMenu />
</div>

<div class="main h-100">
    <div class="content p-4">
        @Body
    </div>
</div>