@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services

@page "/request/approvals"
@attribute [Authorize(Roles = "admin, approver, auditor, fw-admin")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<h3>@(userConfig.GetText("approvals"))</h3>
<hr />

@if(InitComplete)
{
    <DisplayTicketTable Phase="WorkflowPhases.approval" StateMatrix ="stateMatrix" States="states" ReqHandler="reqHandler" 
        ResetParent="Reset" ShowTicketDetails="ShowTicketDetails" StartPhase="StartApproveTask"/>
}


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }
    
    private RequestHandler reqHandler;
    private RequestDbAccess dbAcc;
    private List<Device> devices = new List<Device>();

    private RequestStateDict states = new RequestStateDict();
    private List<int> actPossibleStates = new List<int>();
    private StateMatrix stateMatrix = new StateMatrix();
    private bool InitComplete = false;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            await stateMatrix.Init(WorkflowPhases.approval, apiConnection);
            await states.Init(apiConnection);

            dbAcc = new RequestDbAccess(DisplayMessageInUi, userConfig, apiConnection){};
            devices = await apiConnection.SendQueryAsync<List<Device>>(FWO.Api.Client.Queries.DeviceQueries.getDeviceDetails);
            reqHandler = new RequestHandler(DisplayMessageInUi, userConfig, dbAcc, stateMatrix, devices, WorkflowPhases.approval){};
            await reqHandler.Init();
            reqHandler.SetContinueEnv(ObjAction.approve);
    
            InitComplete = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    private async Task Reset()
    {
        // await reqHandler.Init();
    }

    private async Task ShowTicketDetails(RequestTicket ticket)
    {
        reqHandler.SelectTicket(ticket, ObjAction.display);
    }

    public async Task StartApproveTask(RequestTask task)
    {
        task.CurrentHandler = userConfig.User;
        actPossibleStates = stateMatrix.getAllowedTransitions(task.StateId);
        if(actPossibleStates.Count == 1 && actPossibleStates[0] >= stateMatrix.LowestStartedState && actPossibleStates[0] < stateMatrix.LowestEndState)
        {
            task.StateId = actPossibleStates[0];
        }
        reqHandler.SetReqTaskEnv(task);
        await dbAcc.UpdateReqTaskStateInDb(task);
        await dbAcc.UpdateTicketStateFromTasks(reqHandler.ActTicket, reqHandler.TicketList, stateMatrix);
        reqHandler.SetReqTaskOpt(ObjAction.approve);
    }
}
