@using BlazorTable
@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services
@using FWO.Middleware.Client

@page "/request/plannings"
@attribute [Authorize(Roles = "admin, planner, auditor, fw-admin")]

@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject UserConfig userConfig

<h3>@(userConfig.GetText("plannings"))</h3>
<hr />
<DisplayOverview Phase="WorkflowPhases.planning" Requests="requests" ShowTicketDetails="ShowTicketDetails" 
    StateMatrix ="stateMatrix" States="states"></DisplayOverview>

<DisplayTicket Phase="WorkflowPhases.planning" DbAcc="dbAcc" StateMatrix ="stateMatrix" States="states"
    ResetParent="Reset" StartPhase="StartPlanning" ContinuePhase="PlanTask"
    @bind-Display="ShowTicketMode" @bind-PlanMode="PlanningMode" 
    @bind-Ticket="actTicket" @bind-Requests="requests"></DisplayTicket>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    private RequestDbAccess dbAcc;
    private List<RequestTicket> requests = new List<RequestTicket>();

    private bool ShowTicketMode = false;
    private bool PlanningMode = false;

    private RequestTicket actTicket = new RequestTicket();
    private RequestTask actReqTask = new RequestTask();
    
    private RequestStateDict states = new RequestStateDict();
    private List<int> actPossibleStates = new List<int>();
    private StateMatrix stateMatrix = new StateMatrix();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await stateMatrix.Init(WorkflowPhases.planning, apiConnection);
            await states.Init(apiConnection);
            dbAcc = new RequestDbAccess(DisplayMessageInUi, userConfig, apiConnection){};
            requests = await dbAcc.FetchTickets(stateMatrix);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    private async Task Reset()
    {
        ShowTicketMode = false;
        PlanningMode = false;
        requests = await dbAcc.FetchTickets(stateMatrix);
    }

    private async Task ShowTicketDetails(RequestTicket ticket)
    {
        actTicket = ticket;
        ShowTicketMode = true;
        StateHasChanged();
    }

    private async Task StartPlanning(RequestTask task)
    {
        task.Start = DateTime.Now;
        task.CurrentHandler = userConfig.User;
        actPossibleStates = stateMatrix.getAllowedTransitions(task.StateId);
        if(actPossibleStates.Count == 1 && actPossibleStates[0] >= stateMatrix.LowestStartedState && actPossibleStates[0] < stateMatrix.LowestEndState)
        {
            task.StateId = actPossibleStates[0];
        }
        await dbAcc.UpdateReqTaskStateInDb(task);
        await dbAcc.UpdateTicketStateFromTasks(actTicket, requests, stateMatrix);
        PlanTask(task);
    }

    private async Task PlanTask(RequestTask task)
    {
        actReqTask = task;
        actReqTask.CurrentHandler = userConfig.User;
        PlanningMode = true;
        StateHasChanged();
    }
}
