@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services

@page "/request/implementations"
@attribute [Authorize(Roles = "admin, implementer, auditor, fw-admin")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<h3>@(userConfig.GetText("implementations"))</h3>
<hr />
<DisplayOverview Phase="WorkflowPhases.implementation" Requests="requests" ShowTicketDetails="ShowTicketDetails" 
    StateMatrix ="stateMatrix" States="states"></DisplayOverview>

<DisplayTicket Phase="WorkflowPhases.implementation" DbAcc="dbAcc" StateMatrix ="stateMatrix" States="states"
    ResetParent="Reset" StartImplPhase="StartImplementation" SetContinueEnv="ContImplementTask" 
    @bind-Display="ShowTicketMode" ImplementMode="ImplementTaskMode" 
    AllImplTasks="allImplTasks" @bind-Ticket="actTicket" @bind-Requests="requests"></DisplayTicket>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }
    
    private RequestDbAccess dbAcc;
    private List<RequestTicket> requests = new List<RequestTicket>();

    private bool ShowTicketMode = false;
    private bool ImplementTaskMode = false;
  
    private RequestTicket actTicket = new RequestTicket();
    private List<ImplementationTask> allImplTasks = new List<ImplementationTask>();

    private RequestStateDict states = new RequestStateDict();
    private List<int> actPossibleStates = new List<int>();
    private StateMatrix stateMatrix = new StateMatrix();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await stateMatrix.Init(WorkflowPhases.implementation, apiConnection);
            await states.Init(apiConnection);
            dbAcc = new RequestDbAccess(DisplayMessageInUi, userConfig, apiConnection){};
            requests = await dbAcc.FetchTickets(stateMatrix);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    private async Task Reset()
    {
        ShowTicketMode = false;
        ImplementTaskMode = false;
        requests = await dbAcc.FetchTickets(stateMatrix);
        StateHasChanged();
    }

    private async Task ShowTicketDetails(RequestTicket ticket)
    {
        actTicket = ticket;
        allImplTasks = new List<ImplementationTask>();
        foreach(var reqTask in actTicket.Tasks)
        {
            foreach(var implTask in reqTask.ImplementationTasks)
            {
                implTask.ReqTaskId = reqTask.Id;
                allImplTasks.Add(implTask);
            }
        }
        ShowTicketMode = true;
        StateHasChanged();
    }
    
    private async Task StartImplementation(ImplementationTask task)
    {
        task.Start = DateTime.Now;
        task.CurrentHandler = userConfig.User;
        actPossibleStates = stateMatrix.getAllowedTransitions(task.StateId);
        if(actPossibleStates.Count == 1 && actPossibleStates[0] >= stateMatrix.LowestStartedState && actPossibleStates[0] < stateMatrix.LowestEndState)
        {
            task.StateId = actPossibleStates[0];
        }
        await dbAcc.UpdateImplTaskStateInDb(task);
        await dbAcc.UpdateTicketStateFromImplTasks(actTicket, requests, stateMatrix);
        await ContImplementTask();
    }

    private async Task ContImplementTask()
    {
        ImplementTaskMode = true;
        StateHasChanged();
    }
}
