@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services

@page "/request/tickets/{ticketId?}"
@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Requester}, {Roles.Auditor}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig
@inject NavigationManager NavigationManager

<h3>@(userConfig.GetText("create_ticket"))</h3>
<hr />

@if(InitComplete)
{
    <DisplayTicketTable Phase="WorkflowPhases.request" States="states" ReqHandler="reqHandler" ResetParent="Reset"/>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;
    
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    [Parameter]
    public string? TicketId { get; set; }

    private RequestHandler reqHandler = new RequestHandler();
    private RequestStateDict states = new RequestStateDict();
    private bool InitComplete = false;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            apiConnection.SetProperRole(authenticationStateTask!.Result.User, new List<string> { Roles.Admin, Roles.Requester, Roles.Auditor });
            await states.Init(apiConnection);

            reqHandler = new RequestHandler(DisplayMessageInUi, userConfig, apiConnection, WorkflowPhases.request){};
            await Reset();
            await HandleTicketId();
            InitComplete = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    private async Task HandleTicketId()
    {
        if(long.TryParse(TicketId, out long ticketId))
        {
            string newPhase = await reqHandler.HandleExtTicketId(WorkflowPhases.request, ticketId);
            if(newPhase != "")
            {
                NavigationManager.NavigateTo($"/request/{newPhase.ToString()}s/{TicketId}");
            }
        }
    }

    private async Task Reset()
    {
        try
        {
            reqHandler.ReadOnlyMode = !(authenticationStateTask!.Result.User.IsInRole(Roles.Requester) || authenticationStateTask!.Result.User.IsInRole(Roles.Admin));
            await reqHandler.Init();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("init_environment"), "", true);
        }
    }
}
