@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}
    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

    .main .top-row > a, .main .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .main .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.sidebar-main {
    position: fixed;
    top: 56px;
    height: 95%;
    z-index: 10;
}

.sidebar-sizer {
    height: 100%;
    width: 4px;
    background-color: black;
    z-index: 20;
    border-style: double;
}

.sidebar-min-max-button {
    border-radius: 14px 0px 0px 14px;
    border-right-style: hidden;
    padding: 10px;
    width: 20px;
    height: 30px;
}

.max {
    width: 10px;
    height: 10px;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.alert-warning-override {
    color:#732d00;
    background-color:#ffe494;
    border-color:#f5d0b8
}

.col-form-label-marg7 {
    margin-left: 7px; /* hier wird der Abstand zwischen Checkbox und Label definiert */
}
  
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2147483647;
    width: 100%;
}

.hide-all-but-second-child :not(:nth-child(2))  {
    display: none;
}

.second-child-full-width :nth-child(2) {
    column-span: all;
}

.word-wrap {
    word-wrap: break-word;
}

.word-break {
    word-break: break-all;
}

.error-underline {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: red;
    text-underline-position: under;
}

.whitespace-div {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.sticky-header thead {
    position: sticky;
    top: -1px; /* looks better in chrome */
    z-index: 1;
}

.sticky-group .sticky-marker {
    position: sticky;
    top: 5px;
    z-index: 2;
}

.sticky-group-35 .sticky-marker-35 {
    position: sticky;
    top: 35px;
    z-index: 2;
}

.sticky-group-40 .sticky-marker-45 {
    position: sticky;
    top: 45px;
    z-index: 2;
}

.sticky-group-60 .sticky-marker-60 {
    position: sticky;
    top: 60px;
    z-index: 2;
}

.vheight75 {
    max-height: calc(100vh - 300px);
}

.vheight100 {
    height: 100vh
}

.background-upcoming {
    background-color: rgba(255, 255, 0, 0.25)
}

.background-overdue {
    background-color: rgba(255, 0, 0, 0.25)
}

.fade-bg {
    background-color: rgba(0,0,0,0);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.temp-highlight {
    background-color: #a4d7f5;
}

.nav-tabs {
    background-color: #d6d5d5;
}

.navbar-nav .active {
    font-weight: bold;
    font-style: italic;
}

.fly-in-animation {
    animation: fly-in 1s ease-out;
}

@keyframes fly-in {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

.radioSpace {
    margin-right:10px;
    margin-left:20px;
}
