- name: copy associated ldif files to system
  template:
    src: upgrade/5.4.1.ldif.j2
    dest: "{{ middleware_ldif_dir }}/5.4.1.ldif"
    force: true
  become: true

- name: build ldap tls options
  set_fact:
    ldap_tls_opts: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      -o TLS_REQCERT=never{% if openldap_server_cert is defined %} -o TLS_CACERT={{ openldap_server_cert }}{% endif %}
      {%- endif %}
    ldap_cmd_port: >-
      {% if openldap_server_enable_ssl | default(false) -%}
      {{ openldap_port | default(636) }}
      {%- else -%}
      {{ (openldap_port | default(389) | int == 636) | ternary(389, openldap_port | default(389)) }}
      {%- endif %}
    ldap_cmd_url: >-
      {{ (openldap_server_enable_ssl | default(false)) | ternary('ldaps', 'ldap') }}://{{ openldap_server }}:{{ ldap_cmd_port }}

- name: upgrade olcAccess policy
  command: "ldapmodify {{ ldap_tls_opts }} -H {{ ldap_cmd_url }} -D cn=config -y {{ ldap_manager_pwd_file }} -x -f {{ middleware_ldif_dir }}/5.4.1.ldif"
  become: true
