[Unit]
Description=ITSecorg API
After=network.target remote-fs.target nss-lookup.target
[Service]
WorkingDirectory={{ api_home }}
ExecStartPre=/bin/sleep 10
ExecStart={{ api_home }}/docker-run.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=itsecorg-api
User=root
Environment=
[Install]
WantedBy=multi-user.target
