@using BlazorTable
@using FWO.ApiConfig;
@using FWO.ApiConfig.Data;
@using FWO.Api.Data
@using FWO.ApiClient
@using FWO.Ui.Services

@page "/settings/language"

@inject GlobalConfig globalConfig
@inject UserConfig userConfig
@inject APIConnection apiConnection

<h3>Language Settings</h3>
<hr />

<form class="form-inline">
    <label for="languageSelect" class="col-form-label mr-2">Language</label>
    <select id="languageSelect" class="form-control-sm mr-2" @bind="selectedLanguage">
        @foreach (Language language in globalConfig.uiLanguages)
        {
            <option value="@(language.Name)">@(language.Name)</option>
        }
    </select>
    <button class="btn btn-sm btn-success" @onclick="async () => { await ChangeLanguage(selectedLanguage); StateHasChanged(); }" @onclick:preventDefault>Apply Changes</button>
</form>

@code
{
    string selectedLanguage;

    protected override void OnInitialized()
    {
        selectedLanguage = userConfig.GetUserLanguage();
    }

    private async Task ChangeLanguage(string language)
    {
        Log.WriteDebug("Change language", $"new language: {language}");
        await userConfig.ChangeLanguage(language, apiConnection);
    }
}
