[Unit]
Description=FW Orch Blazor Auth
After=network.target remote-fs.target nss-lookup.target
[Service]
WorkingDirectory={{ auth_start_dir }}
#ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/dotnet run
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ auth_syslog_id }}
User={{ iso_user }}
Environment=
[Install]
WantedBy=multi-user.target
