@page "/help"

<h2>Help</h2>

<p>help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub help stub</p>

@code 
{

}