@using FWO.Ui.Data

@page "/settings"


<div class="d-flex flex-wrap align-items-center justify-content-center">
    <div style="height: 50vw; width: 70vw; background-color: red;" class="d-flex flex-wrap align-items-center justify-content-center">
        @for (int i = 0; i < 9; i++)
        {
            <div class="card m-2 shadow" style="width:200px; height:200px;">
                <i class="oi oi-person"></i>        
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        }
    </div>
</div>


@code
{
    private NavItem[] navItems;

    protected override void OnInitialized()
    {
        navItems = new NavItem[]
        {
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
                        new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
            new NavItem("Documentation", "#", "oi oi-book"),
            new NavItem("Reporting", "/report", "oi oi-spreadsheet"),
                };
    }
}
