
@using FWO.Ui.Auth

@inject AuthenticationStateProvider AuthService
@inject NavigationManager NavigationManager
@inject UserConfig userConfig

@page "/logout"

<h3>Logout</h3>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        UiUser user = userConfig.User;

        try
        {
            await ((AuthStateProvider)AuthService).Deauthenticate();
        }
        finally
        {
            Log.WriteAudit("Logout", $"User \"{user.Name}\" with DN: \"{user.Dn}\" logged out.");
            NavigationManager.NavigateTo("", forceLoad: true);
        }
    }
}
