@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using FWO.Ui.Services
@using FWO.Ui.Auth

@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider AuthService
@inject NavigationManager NavigationManager
@inject UserConfig userConfig
@inject CircuitHandlerService circuitHandler
@inject ApiConnection apiConnection

@page "/logout"

<h3>Logout</h3>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //apiConnection = new GraphQlApiConnection();
        UiUser user = userConfig.User;

        await sessionStorage.DeleteAsync("jwt");
        ((AuthStateProvider)AuthService).Deauthenticate();

        Log.WriteAudit($"Logout", $"User \"{user.Name}\" with DN: \"{user.Dn}\" logged out.");
        circuitHandler.User = null;

        NavigationManager.NavigateTo("");
    }
}
