
@using FWO.Middleware.Client;
@using Microsoft.AspNetCore.Components.Server.Circuits;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using FWO.Ui.Services
@using FWO.Ui.Auth

@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider AuthService
@inject NavigationManager NavigationManager
@inject UserConfig userConfig
@inject CircuitHandler circuitHandler
@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient

@page "/logout"

<h3>Logout</h3>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        UiUser user = userConfig.User;

        try
        {
            await ((AuthStateProvider)AuthService).Deauthenticate();
        }
        finally
        {
            apiConnection.Dispose();
            middlewareClient.Dispose();

            Log.WriteAudit("Logout", $"User \"{user.Name}\" with DN: \"{user.Dn}\" logged out.");
            ((CircuitHandlerService)circuitHandler).User = null;

            NavigationManager.NavigateTo("", forceLoad: true);
        }
    }
}