@page "/help/API/flow/compliance"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar {
    @{
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml");
    }
}

@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("flow_compliance_api")</h3>
    @(Html.Raw(userConfig.GetText("H6942")))
</div>
