<div class="side-nav fixed sidebar-help shadow">
    <div class="sidebar-help d-flex flex-row" style="left:0px">
        <div class="sidebar-help " style="width:250px">
        </div>
    </div>
</div>
