@page "/help/API/userAuth"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("api_umgmt_auth")</h3>
    
    @userConfig.GetText("umgmt_auth_expl"):

    <pre>
curl --request POST \
    --url https://localhost:8888/AuthenticateUser \
    --header 'content-type: application/json' \
    --data '{"Username":"user1_demo", "Password": "cactus1"}'
    </pre>
</div>
