@page "/help/modelling/rollout"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpModellingSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("rollout")</h3>
    @(Html.Raw(userConfig.GetText("H9080")))
    <br><br>
    @(Html.Raw(userConfig.GetText("H9081")))
</div>
