@page "/help/recertification/owner_import"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpRecertificationSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("recertification") @userConfig.GetText("owner_import")</h3>
    @(Html.Raw(userConfig.GetText("H4035")))
</div>
