@page "/help/monitoring/external_request_tickets"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpMonitoringSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("ext_request_tickets")</h3>
    @(Html.Raw(userConfig.GetText("H9060")))
</div>
