@page "/help/monitoring/daily_checks"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpMonitoringSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("daily_checks")</h3>
    @(Html.Raw(userConfig.GetText("H7251")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H7252")))</li>
        <li>@(Html.Raw(userConfig.GetText("H7253")))</li>
    </ul>
</div>
