@page "/help/settings/flows/networkobjects"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("network_objects")</h3>
    <p>@userConfig.GetText("H5016")</p>
    <p>@userConfig.GetText("H5017")</p>
    <p>@userConfig.GetText("H5018")</p>
</div>
