@page "/help/API/mutation"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}

@section sidebar {
    @{
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml");
    }
}

@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("sample_mutation")</h3>
    @(Html.Raw(userConfig.GetText("H6801")))
    <br>
    <pre class="code-block" data-lang="bash">
<code>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'x-hasura-role: auditor' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...' \
    --data '
    {
    "variables": 
    {
    "id": 2,
    "language": "German"
    },
    "query": "mutation updateUserLanguage($id: Int! $language: String!) { update_uiuser_by_pk(pk_columns: { uiuser_id: $id } _set: { uiuser_language: $language } ) { UpdatedId: uiuser_id } }"
    }'
</code>
    </pre>
</div>
