@page "/help/monitoring/modelling_requests"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{
        await Html.RenderPartialAsync("HelpMonitoringSidebar.cshtml");
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("modelling_request_status")</h3>
    @(Html.Raw(userConfig.GetText("H7425")))
</div>
