@page "/help/API/login"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("login")</h3>
    @(Html.Raw(userConfig.GetText("H6501")))
    <br><br>

    <h4>@userConfig.GetText("jwt_corr_login")</h4>
<br>
<pre>
curl --request POST \
    --url https://localhost:8888/api/AuthenticationToken/Get/ \
    --header 'content-type: application/json' \
    --data '{"Username": "user1_demo", "Password": "cactus1"}'
</pre>

    <h4>@userConfig.GetText("err_incorr_login")</h4>
<br>
<pre>
curl --request POST \
    --url https://localhost:8888/api/AuthenticationToken/Get/ \
    --header 'content-type: application/json' \
    --data '{"Username": "user1_demo", "Password": "wrong-pwd"}'
</pre>
