@page "/help/modelling/workflow"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpModellingSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("workflow")</h3>
    @(Html.Raw(userConfig.GetText("H9051")))
    <br>
    @(Html.Raw(userConfig.GetText("H9052")))
</div>
