- block: 

  - name: assert ansible version
    assert:
      that:
        - "{{ ansible_version.string is version_compare('2.8', '>=') }}"
      msg: Ansible 2.8 or above is required

  - name: check for existing main config file
    stat:
      path: "{{ fworch_conf_file }}"
    register: already_installed

  - set_fact:
      already_installed: "{{ already_installed.stat.exists }}"
  
  - debug:
      msg: "installation_mode={{ installation_mode }}, already_installed={{ already_installed }}"
  
  - name: fail if unknown installation_mode is set
    fail:
      msg: "Found undefined installation_mode: {{ installation_mode }}, aborting."
    when: installation_mode != "new" and installation_mode != "uninstall" and installation_mode != "upgrade"

  - name: fail if already installed and installation_mode is new
    fail:
      msg: "Found existing installation but running with installation_mode set to {{ installation_mode }}. If you want to upgrade, use 'installation_mode=upgrade'."
    when: already_installed|bool and installation_mode == "new"

  - name: fail if not already installed and installation_mode is upgrade
    fail:
      msg: "Could not find existing installation but running with installation_mode set to {{ installation_mode }}. Try running with installation_mode=new"
    when: not already_installed and installation_mode == "upgrade"

  # - name: uninstall product
  #   import_tasks: ../scripts/uninstall-fworch.yml
  #   when: installation_mode == "uninstall"

  # - name: stopping here in case of uninstall
  #   fail:
  #     msg: "uninstall completed, thanks for using firewall orchestrator"
  #   when: installation_mode == "uninstall"

  # - name: uninstall completed, thanks for using firewall orchestrator
  #   meta: end_play
  #   when: installation_mode == "uninstall"

  - name: backup {{ fworch_home }} dir
    copy:
      src: "{{ fworch_home }}"
      dest: "{{ fworch_parent_dir }}/{{ product_name }}_backup"

  - name: remove complete {{ fworch_home }} dir except for etc
    file:
      state: absent
      path: "{{ fworch_home }}/{{ item }}"
    loop:
      - api
      - middleware
      - bin
      - importer  
      - database  
      - ui
      - lib

  - name: include redhat install basics
    include_tasks: redhat_preps.yml
    when: installation_mode == "new" and ansible_os_family == "RedHat"

  - name: update operating system packages .deb based
    apt:
      upgrade: dist
    when: ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"

  - name: update operating system packages .rpm based (untested)
    yum:
      upgrade: dist
    when: ansible_facts['distribution'] == "Red Hat" or ansible_facts['distribution'] == "CentOS"

  - name: install package rsyslog
    package:
      name: "rsyslog"
      state: present

  - name: change rsyslog config to receive logs
    blockinfile:
      path: /etc/rsyslog.conf
      block: |
        module(load="im{{ syslog_proto }}")
        input(type="im{{ syslog_proto }}" port="{{ syslog_port }}")

  - name: create log dir for {{ product_name }} on ubuntu - owner syslog
    file:
      path: "/var/log/{{ product_name }}/"
      state: directory
      owner: syslog
      group: syslog
      mode: "0775"
    when: ansible_facts['distribution'] == "Ubuntu"
      
  - name: create log dir for {{ product_name }} on debian - owner root
    file:
      path: "/var/log/{{ product_name }}/"
      state: directory
      owner: root
      group: root
      mode: "0775"
    when: ansible_facts['distribution'] == "Debian"
      
  - name: create log dir for {{ product_name }} on redhat - owner root
    file:
      path: "/var/log/{{ product_name }}/"
      state: directory
      owner: root
      group: root
      mode: "0775"
    when: ansible_facts['distribution'] == "RedHat"

  - name: edit rsyslog
    blockinfile:
      path: "/etc/rsyslog.d/30-{{ product_name }}.conf"
      create: yes
      block: |
        # syslog for {{ product_name }}
        # Log {{ product_name }} log messages to file
        local6.warning                 /var/log/{{ product_name }}/error.log
        local6.=info                   /var/log/{{ product_name }}/login_info.log
        local6.debug                   /var/log/{{ product_name }}/debug.log

        if $programname == '{{ product_name }}-database' then /var/log/{{ product_name }}/database.log
        if $programname == '{{ middleware_server_syslog_id }}' then /var/log/{{ product_name }}/middleware.log
        if $programname == '{{ ui_syslog_id }}' then /var/log/{{ product_name }}/ui.log
        if $programname == '{{ ldap_syslog_id }}' then /var/log/{{ product_name }}/ldap.log
        if $programname == '{{ product_name }}-api' then /var/log/{{ product_name }}/api.log
        if $programname startswith '{{ product_name }}-import' then /var/log/{{ product_name }}/importer.log
        if $programname startswith '{{ product_name }}-' and $msg contains "Audit" then /var/log/{{ product_name }}/audit.log
        # only for devsrv:
        if $programname == '{{ product_name }}-webhook' then /var/log/{{ product_name }}/webhook.log

  - name: edit logrotate
    blockinfile:
      path: "/etc/logrotate.d/{{ product_name }}.conf"
      create: yes
      block: |
        /var/log/{{ product_name }}/*.log {
            compress
            maxage 7
            rotate 99
            size=+4096k
            missingok
            copytruncate
            sharedscripts
                prerotate
                        systemctl stop {{ product_name }}-importer.service >/dev/null 2>&1
                endscript
                postrotate
                        systemctl start {{ product_name }}-importer.service >/dev/null 2>&1
                endscript
        }

  - name: reload rsyslog service
    service:
      name: "rsyslog"
      state: restarted

  - name: create group {{ fworch_group }}
    group:
      name: "{{ fworch_user }}"
      gid: "{{ user_id }}"
      state: present
    
  - name: add user {{ fworch_user }}
    user:
      name: "{{ fworch_user }}"
      comment: "{{ product_name }} User"
      uid: "{{ user_id }}"
      home: "{{ fworch_home }}"
      shell: /bin/bash
      group: "{{ fworch_group }}"
      generate_ssh_key: yes
      ssh_key_bits: 4096
      ssh_key_file: .ssh/id_rsa

  - name: create base {{ fworch_home }} directory
    file:
      path: "{{ fworch_home }}"
      state: directory
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"
      mode: "0775"

  - name: create etc dir
    file:
      path: "{{ fworch_home }}/etc"
      state: directory
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"
      mode: '0755'

  - name: create dir for passwords
    file:
      path: "{{ fworch_home }}/etc/secrets"
      state: directory
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"
      mode: '0700'

  - name: copy iso.conf to target
    copy:
      src: iso.conf
      dest: "{{ fworch_home }}/etc/iso.conf"
      owner: "{{ fworch_user }}"
      group: "{{ fworch_group }}"

  - name: include fworch.yaml config file creator
    import_tasks: conf_file_creator.yml

  - name: include upgrade script
    import_tasks: run-upgrades.yml
    when: "installation_mode == 'upgrade'"

  become: yes
  