@page "/help"

<h2>Help</h2>

    <h3>Filter Syntax</h3>
    <ul>
        <li> All filtering is case insensitive.</li>
        <li> There are mutliple variants for most keywords, e.g. DestinationPort filters can be written as:
            port, dport, dst_port, dst-port, dest-port, destination-port, dest_port, destination_port </li>
        <li> All filter statements must be logically combined using either: and, or, not.</li>
        <li> Comparison can currently only be done using == or !=.</li>
        <li> No IP address (CIDR) filtering yet.</li>
        <li> Time filtering (due to a logical glitch) currently only works for points in time before the last import that found a config change. </li>
        <li> Rules are always deep-searched, meaning all groups in source, destination and service fields are resolved.
            There is currently no option to only search at the rule top-level. </li>
    </ul>
    <h4>Keywords</h4>
    <ul>
        <li>Value</li>
        <li>Source</li>
        <li>Destination</li>
        <li>Service</li>
        <li>Protocol</li>
        <li>DestinationPort</li>
        <li>Action</li>
        <li>Management</li>
        <li>Gateway</li>
        <li>Time</li>
        <li>FullText</li>
    </ul>
    <h4>Operators</h4>
    <ul>
        <li>And</li>
        <li>Or</li>
        <li>Not</li>
        <li>==</li>
        <li>!=</li>
    </ul>
    <h4>Examples</h4>
    <ul>
        <li> full text searches</li>
        <ul>
            <li>cactus - searches the fields "source, destination, service" for the string "cactus".</li>
            <li>fulltext=cactus - same as above</li>
        </ul>
        <li> time searches</li>
        <ul>
            <li> If you do not enter a time statement, the current config status is displayed.</li>
            <li>time="2020-11-23" - searches at midnight.</li>
            <li>time="2020-11-23 09:29" - searches at a specific time.</li>
        </ul>
        <li> Specific rule content searches</li>
        <ul>
            <li>src=cactus</li>
            <li>src=subnet</li>
            <li>dst=daba</li>
            <li>svc=valve_udp</li>
            <li>svc=valve_udp</li>
            <li>action=accept</li>
            <li>not action=drop</li>
        </ul>
        <li> filter for gateways or managements</li>
        <ul>
            <li>gateway=forti and src=cactus</li>
            <li>gateway=forti or gateway=check</li>
            <li>not gateway=check</li>
        </ul>
    </ul>

@code 
{

}