dn: uid={{ auth_ldap_internal_readonly_user }},ou=systemuser,ou=user,{{ auth_ldap_path }}
changetype: {{ ldif_changetype }}
objectClass: top
objectclass: inetorgperson
cn: {{ auth_ldap_internal_readonly_user }}
sn: {{ auth_ldap_internal_readonly_user }}
