dn: uid=admin,ou=systemuser,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: admin
sn: admin

dn: uid=inspector,ou=systemuser,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectclass: inetorgperson
cn: inspector
sn: inspector

dn: uid=fgreporter,ou=systemuser,ou=user,dc=fworch,dc=internal
changetype: add
objectClass: top
objectclass: inetorgperson
cn: fgreporter
sn: fgreporter
