dn: ou=mandant0,ou=operator,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: mandant0

dn: ou=mandant1,ou=operator,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: mandant1
