dn: ou=user,{{ auth_ldap_path }}
changetype: {{ ldif_changetype }}
objectClass: top
objectClass: organizationalUnit
ou: user

dn: ou=role,{{ auth_ldap_path }}
changetype: {{ ldif_changetype }}
objectClass: top
objectClass: organizationalUnit
ou: role
