dn: ou=tenant0,ou=operator,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: tenant0

dn: ou=tenant1,ou=operator,ou=user,{{ auth_ldap_path }}
changetype: add
objectClass: top
objectClass: organizationalUnit
ou: tenant1
