dn: cn=anonymous,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: anonymous
description: anonymous users can only access the login page and health statistics

dn: cn=auth-server,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: auth-server
description: allows the auth server to read necessary tables (ldap_connection)

dn: cn=reporter,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: reporter
description: reporters have access to basic tables (stm_...) and limited rights for object and rule tables depending on the visible devices for the tenant the user belongs to

dn: cn=reporter-viewall,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: reporter-viewall
description: reporter role for full read access to all devices

dn: cn=importer,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: importer
description: users can import config changes into the database

dn: cn=dbbackup,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: dbbackup
description: users that are able to read data tables for backup purposes

dn: cn=auditor,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: auditor
description: users that can view all data & settings (in the UI) but cannot make any changes

dn: cn=workflow-user,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: workflow-user
description: (for future use) users who can request firewall changes

dn: cn=workflow-admin,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: workflow-admin
description: (for future use) users who can create change request workflows

dn: cn=fw-admin,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: fw-admin
description: users who can document open changes

dn: cn=admin,ou=role,dc=fworch,dc=internal
objectClass: top
objectClass: groupofuniquenames
cn: admin
description: users with full access rights to firewall orchestrator (this is also the pre-defined hasura role 'admin')
