dn: cn=anonymous,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=auth-server,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=anonymous,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant2,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=auth-server,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant2,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=anonymous,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=helga,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=reporter,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=reporter-viewall,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal

dn: cn=importer,ou=role,dc=fworch,dc=internal
changetype: modify
add: uniquemember
uniquemember: uid=fritz,ou=tenant1,ou=operator,ou=user,dc=fworch,dc=internal