dn: uid={{ auth_ldap_internal_readonly_user }},ou=systemuser,ou=user,{{ auth_ldap_path }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: {{ auth_ldap_internal_readonly_user }}
sn: {{ auth_ldap_internal_readonly_user }}
{%- endif %}

dn: {{ auth_ldap_role_admin_fq }}
changetype: {{ ldif_changetype }}
{% if ldif_changetype != 'delete' -%}
objectClass: top
objectclass: inetorgperson
cn: {{ auth_ldap_role_admin }}
sn: {{ auth_ldap_role_admin }}
{%- endif %}
