
- name: read importer_password from middleware host
  slurp:
    src: "{{ importer_password_file }}"
  register: importer_password_slurp
  delegate_to: "{{ groups['middlewareserver'][0] }}"
  become: true

- name: write importer_password to secrets directory
  copy:
    content: "{{ importer_password_slurp.content | b64decode }}"
    dest: "{{ importer_password_file }}"
    mode: '0600'
    owner: "{{ fworch_user }}"
    group: "{{ fworch_group }}"
  become: true
  
