openldap_path: "dc=fworch,dc=internal"
openldap_server: "{{ middleware_hostname }}"
openldap_port: 636
openldap_url: "ldaps://{{ openldap_server }}"
openldap_superuser_dn: "cn=Manager,ou=systemuser,ou=user,{{ openldap_path }}"
openldap_std_user_dn: "ou=operator,ou=user,{{ openldap_path }}"
openldap_std_role_dn: "ou=role,{{ openldap_path }}"
openldap_std_group_dn: "ou=group,{{ openldap_path }}"
openldap_readonly_user_name: "inspector"
openldap_readonly_user_dn: "uid={{ openldap_readonly_user_name }},ou=systemuser,ou=user,{{ openldap_path }}"
openldap_writer_name: "ldapwriter"
openldap_writer_dn: "cn={{ openldap_writer_name }},ou=systemuser,ou=user,{{ openldap_path }}"
openldap_server_domain_name: "{{ product_name }}.internal"

middleware_path_rel: FWO.Middleware.Server
middleware_server_base_dir: "{{ fworch_home }}/middleware/files"
middleware_server_start_dir: "{{ middleware_server_base_dir }}/FWO.Middleware.Server"
middleware_ldif_dir: "{{ fworch_home }}/etc/ldif"

apache_mw_timeout: 14400

# sample-auth-data vars
sample_role_purpose: demo
sample_user1_pw: cactus1
sample_user2_pw: cactus2

# use static jwt generation test key if set to yes
# only for testing, not for production environment
testkeys: no
