# This is a basic workflow to help you get started with Actions

name: test-install

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
# test change

on:
   push:
     branches: [ master ]
     paths-ignore:
     - 'documentation/**'
     - 'design/**'

   pull_request:
     branches: [ master ]
     paths-ignore:
     - 'documentation/**'
     - 'design/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: show github env variable
      run: echo "::debug {GITHUB_EVENT_NAME}::testing"

    - name: show github variable
      run: echo "::debug {github.event.action}"

    - name: Run a one-line script
      if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
      run: cd /home/runner/work/firewall-orchestrator/firewall-orchestrator && ansible-playbook -i inventory -e 'run_on_github=yes' site.yml -K
      
