name: Checks

on:
  push:
    branches:
      - main
      - develop
      - importer-rework
    # paths-ignore:
    #   - 'documentation/**'
    #   - 'design/**'
    # do not ignore any paths as this breaks the github actions workflow

  pull_request:
    paths-ignore:
      - 'documentation/**'
      - 'design/**'

jobs:
  test-install:
    name: Test install on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      RUNNING_ON_GITHUB_ACTIONS: true
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'

      - name: Run Ansible test install
        run: |
          cd /home/runner/work/firewall-orchestrator/firewall-orchestrator
          ansible-playbook -e force_install=true site.yml -K

      - name: Running in GitHub actions requires testing puppeteer pdf creation separately
        if: ${{ env.RUNNING_ON_GITHUB_ACTIONS == 'true' }}
        run: |
          cd /home/runner/work/firewall-orchestrator/firewall-orchestrator/roles/tests-unit/files/FWO.Test
          dotnet restore
          dotnet build
          dotnet test --filter "Name=HtmlToPdfTest"


  python-code-check:
    name: Python Code Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11' 

      - run: pip install -r roles/importer/files/importer/requirements.txt

      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1

      - run: pyright

      - run: ruff check
      
      - run: ruff format --exit-non-zero-on-format