[Unit]
Description=FW Orch Blazor UI
After=network.target remote-fs.target nss-lookup.target
[Service]
WorkingDirectory={{ ui_start_dir }}
ExecStart=/usr/bin/dotnet publish --configuration release
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ ui_syslog_id }}
User={{ fworch_user }}
Environment=
[Install]
WantedBy=multi-user.target
