/* $Id: firewall_print.css,v 1.1.2.2 2007-12-13 10:47:32 tim Exp $ */
/* $Source: /home/cvs/iso/package/web/htdocs/css/Attic/firewall_print.css,v $ */

body{margin:10px;padding:10px;border-left:0px;background:#FFF !important;}
body,b,table,tr,td,li,a,h1{font-family:Verdana,arial,helvetica;font-size:12px;color:#333;}
table{table-layout:auto;}
p.nobreak { white-space:nowrap; line-height: 0.3; }
p.break { 
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

h2{font-size:16px;}

/*Farbe oberhalb horizontale Navigation*/
#inhalt{position:absolute;top:10px;left:10px;z-index:10;}

.olddate{background-color:#6AD8D7;}
.newdate{background-color:#80FF80;}
.newdatedel{background-color:#80FF80;text-decoration:line-through;}

/*Tabelle Inhalt*/
.tab-fixed-width{width:500px;}
.tab-border{border-top:1px solid #999;border-left:1px solid #999;background-color:#FFF;}
.headerdev{text-align:center;background-color:#CCC;border-right:1px solid #999;border-bottom:1px solid #999;padding:3px;color:#333;}
.headerdev_komm{text-align:center;background-color:#CCC;border-right:1px solid #999;border-bottom:1px solid #999;padding:3px;color:#333;}
.fw_headerdev{background-color:#DDD;border-bottom:1px solid #999;vertical-align:top;}
.fw_headerdev_audit{color:black;background-color:#CCC;font-weight:bold;border-bottom:1px solid #999;vertical-align:top;}
.fw_headerdev_right{background-color:#DDD;border-bottom:1px solid #999;border-right:1px solid #999;padding:3px;}
.fw_headerdev_device{color:black;background-color:#CCC;border-bottom:1px solid #999;vertical-align:top;}
.fw_headerdev_device_right{color:black;background-color:#CCC;border-bottom:1px solid #999;border-right:1px solid #999;padding:3px;}
.fw_headerdev_device_inner_div{color:black;background-color:#CCC;vertical-align:top;}
.celldev{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#333;}
.celldev_wrap{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#333;}
.celldev2{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#999;}
.celldev3{padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#333;text-align:center;}
.celldev_noborder{padding:3px;border-right:0px solid #999;border-bottom:0px solid #999;color:#333;}
.celldevAlignRight{text-align:right;padding:3px;border-right:1px solid #999;border-bottom:1px solid #999;color:#333;}

/*Inputfelder Anmelden*/
input.diff{border:1px #333 solid;padding:2px;background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;margin-bottom:5px;}
input.button{border:1px #333 solid;padding:2px;background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;}
textarea.diff{border:1px #333 solid;padding:0px 2px;background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;height:33px;}
select.diff{background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;}

/*Inputfelder Filter*/
input.filter{border:1px #333 solid;padding:2px;background-color:#FFFFFD;font-family:Arial,Helvetica;font-size:11px;color:#333;}
input.button{border:1px #333 solid;padding:2px;background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;}
textarea.filter{border:1px #333 solid;padding:2px;background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;height:80px;}
select.filter{background-color:#FFF;font-family:Arial,Helvetica;font-size:11px;color:#333;}
